{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row" dir="rtl">

						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">
						{% if request.user.is_staff %} 
						<div class="container">
						<a class="btn btn-info" href="{% url 'dashboard:dashboard' %}">لوحة التحكم </a>
						</div>
						{% endif %} 
						{% for message in messages %} 
							<div class="alert alert-info" > 
							{{message}}
							</div>
						{% endfor %} 

							<div class="section-fortitle text-right">
								<h5>عروض العمرة</h5>
								<hr>
							</div>
						<div class="col-md-12 col-xs-12 col-sm-12"  style="z-index: 10100" > 
						<div  style="max-width:500px;margin-right:auto;margin-left:auto" >
							<div class="form-group text-center">
									<a class="btn btn-danger btn-lg" href="{% url 'supplier:supplier_package' %}?agency_id={{agency.id}}" > اضافة عرض عمرة</a>
							</div>
						</div>
						<div class="col-md-12" style="overflow-x:scroll;text-align:center;"> 
							<table class="table" >
									      <tr>
									        <td>النقل</td>
									        <td>فندق مكة</td>
									        <td>فندق المدينة</td>
									        <td>مفرد</td>
									        <td>ثنائي</td>
									        <td>ثﻻثي</td>
									        <td>رباعي</td>
									        <td>خماسي</td>
									        <td></td>
									        <td></td>
									      </tr>
									    {% if request.user.is_staff %} 
										{% for p in packages %} 
									      <tr>
									      <form action="{% url 'supplier:update_package' package_id=p.id %}" method="POST" >
									      {% csrf_token %} 
									        <td style="min-width:150px;">{{p.transport}}</td>
									        <td style="min-width:150px;">{{p.makkah_hotel_title}}</td>
									        <td style="min-width:150px;">{{p.madinah_hotel_title}}</td>
									        <td><input name="updated_single_room_cost" style="min-width:50px;" type="text" class="form-control" value="{{p.single_room_cost}}"></td>
									        <td><input name="updated_double_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.double_room_cost}}"></td>
									        <td><input name="updated_trip_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.trip_room_cost}}"></td>
									        <td><input name="updated_quad_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.quad_room_cost}}"></td>
									        <td><input name="updated_quin_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.quin_room_cost}}"></td>
									        <td><input type="submit" class="btn btn-primary  btn-inverse" value="تحديث"></td>
									        <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  href="{% url 'supplier:remove_package' package_id=p.id %}" >حذف</a></td>
									       </form>
									      </tr>
										{% endfor %} 
										{% else %} 
										{% for p in packages %} 
									      <tr>
									      <form action="{% url 'supplier:update_package' package_id=p.id %}" method="POST" >
									      {% csrf_token %} 
									        <td style="min-width:150px;">{{p.transport}}</td>
									        <td style="min-width:150px;">{{p.makkah_hotel_title}}</td>
									        <td style="min-width:150px;">{{p.madinah_hotel_title}}</td>
									        <td><input name="updated_single_room_cost" style="min-width:50px;" type="text" class="form-control" value="{{p.updated_single_room_cost}}"></td>
									        <td><input name="updated_double_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.updated_double_room_cost}}"></td>
									        <td><input name="updated_trip_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.updated_trip_room_cost}}"></td>
									        <td><input name="updated_quad_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.updated_quad_room_cost}}"></td>
									        <td><input name="updated_quin_room_cost" style="min-width:50px;"  type="text" class="form-control" value="{{p.updated_quin_room_cost}}"></td>
									        <td><input type="submit" class="btn btn-primary  btn-inverse" value="تحديث"></td>
									        <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  href="{% url 'supplier:remove_package' package_id=p.id %}" >حذف</a></td>
									       </form>
									      </tr>
										{% endfor %} 
										{% endif %} 
							</table>
							{% if not packages %}
							<p >ﻻ يوجد عروض مضافة</p>
							{% endif %} 
						</div>

						</div>

							<div  class="col-md-12" >
							<div class="section-fortitle text-right mt-5">
								<h5>معلومات الوكالة السياحية</h5>
								<hr>
							</div>
							<h3>قم بتحديث بيانات الشركة</h3>
							{% if user.is_staff %} 
							<div class="form-group text-center">
								<form action="{% url 'dashboard:match_agency' %}" method="POST">
									{% csrf_token %} 
									<input type="hidden" value="{{agency.id}}" name="agency"> 
									<small>مربوط مع {{agency.supplier_account_agency}} / {{agency.supplier_account_agency.username}}</small><br>
									<small>اربط مع وكالة اخرى</small>
									<select name="matched_agency">
										{% for agency in matched_agencies %} 
										<option value="{{agency.id}}" >{{agency.title}} / {{agency.created_by.username}}</option>
										{% endfor %} 
									</select>
									<input type="submit"  value="ربط" >
								</form>
							</div>
							{% endif %} 
							
							<form action="{% url 'supplier:agency' agency_id=agency.id %}" method="POST">
							{% csrf_token %} 
							<div class="form-group col-md-6 col-sm-6 col-xs-12 pull-right">
							  <label for="pwd4">الدولة <span style="color:red;">*</span></label>
							  <select required name="country" class="form-control" id="pwd4" value="{{agency.country}}">
							  {% for country in countries %} 
							  	<option value="{{country.id}}">{{country.title}}</option>
							  {% endfor %} 
							  </select>
							</div>

							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd5">المدينة <span style="color:red;">*</span></label>
							  <input required name="city" type="text" class="form-control" id="pwd5" value="{{agency.city}}" >
							</div>
							
							<div class="form-group col-md-6 col-sm-6 col-xs-12 pull-right">
							  <label for="pwd4">اسم الشركة <span style="color:red;">*</span></label>
							  <input required name="title" type="text" class="form-control" id="pwd4" value="{{agency.title}}" >
							</div>

							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd5">العنوان</label>
							  <input  name="address" type="text" class="form-control" id="pwd5" value="{{agency.address}}">
							</div>
							
							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd4">رقم الهاتف</label>
							  <input  name="phone_number" type="text" class="form-control" id="pwd4" value="{{agency.phone_number}}">
							</div>

							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd5">البريد الالكتروني</label>
							  <input  name="email" type="text" class="form-control" id="pwd5" value="{{agency.email}}">
							</div>
							

	
							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd4">الموقع الالكتروني</label>
							  <input  name="website" type="text" class="form-control" id="pwd4"  value="{{agency.website}}">
							</div>
							
							<div class="form-group col-md-6 col-sm-6 col-xs-12 ">
							  <label for="pwd5">رابط صفحة الفيسبوك</label>
							  <input  name="facebook_page" type="text" class="form-control" id="pwd5" value="{{agency.facebook_page}}">
							</div>
							
							<div class="form-group text-center">
									<input  type="submit" class="btn btn-success btn-lg"  value="اتمام" >
							</div>
							</form>
						</div>

						</div>
							
					</div>


				</div>
				
			</div>
					
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 