{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row" >
					

						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">
	
							<div class="section-title text-right">
								<h3>لوحة التحكم</h3>
							</div>
						<div class="col-md-12 col-xs-12 col-sm-12" > 
							
						<form action="{% url 'supplier:supplier_package' %}{% if package %}?package_id={{package.id}}{% endif %}" method="POST">
						{% csrf_token %} 
						<div  style="max-width:800px;margin-right:auto;margin-left:auto" dir="rtl">
							<h1 dir="rtl" >اضافة باكج عمرة </h1>
							<div class="alert alert-success"  dir="rtl" > 
								أضف باكج جديد ، قم بتحديد اسم الفندق في مكة والمدينة ، وتكلفة الشخص حسب حجم الغرفة
							</div>
							<div class="col-md-12">
							<h4>الفنادق</h4>
							<hr>
							</div>

							<div class="col-md-12">
							<div dir="rtl" class="form-group col-md-4 pull-right">
							  <label for="makkah_hotel">فندق مكة </label>
							  <input type="text" class="form-control" name="makkah_hotel_title"
							  value="{{package.makkah_hotel_title}}" > 
							</div>
							<div dir="rtl" class="form-group col-md-4">
							  <label >مسافة فندق مكة عن الحرم</label>
							  <input type="Number" class="form-control" name="makkah_hotel_distance" 
							  value="{{package.makkah_hotel_distance}}"> 	
							</div>
							<div dir="rtl" class="form-group col-md-4">
							  <label for="include">مستوى فندق مكة / النجوم</label>
							  <select name="makkah_hotel_stars" class="form-control"  required>
							  {% for i in '12345' %}
								<option value="{{i}}" {% if i == package.makkah_hotel_stars %} selected {% endif %}>{{i}}</option>
							  {% endfor %}
							  </select>
							</div>
							</div>

							<div class="col-md-12">
							<div dir="rtl" class="form-group col-md-4 pull-right">
							  <label >فندق المدينة </label>
							  <input type="text" class="form-control" name="madinah_hotel_title"
							  value="{{package.madinah_hotel_title}}" > 						
							</div>
							<div dir="rtl" class="form-group col-md-4">
							  <label >مسافة فندق المدينة عن الحرم</label>
							  <input type="Number" class="form-control" name="madinah_hotel_distance" 
							  value="{{package.madinah_hotel_distance}}"> 	
							</div>
							<div dir="rtl" class="form-group col-md-4">
							  <label for="include">مستوى فندق المدينة / النجوم</label>
							  <select name="madinah_hotel_stars" class="form-control"  required>
							  {% for i in '12345' %}
								<option value="{{i}}" {% if i == package.madinah_hotel_stars %} selected {% endif %}>{{i}}</option>
							  {% endfor %}
							  </select>
							</div>
							</div>
							<div class="col-md-12">
							<h4>تكلفة الشخص</h4>
							<hr>
							</div>
							<div class="col-md-12">
							<div dir="rtl" class="form-group col-md-2 pull-right">
							  <label >الغرفة المفردة</label>
							  <input type="Number" class="form-control" name="updated_single_room_cost" 
							  {% if package %}
							  value="{{package.updated_single_room_cost}}"
							  {% else %} 
							  value="0"
							  {% endif %}> 	
							</div>
							<div dir="rtl" class="form-group col-md-2 pull-right">
							  <label >الغرفة الثنائية </label>
							  <input type="Number" class="form-control" name="updated_double_room_cost"
							  {% if package %}
							  value="{{package.updated_double_room_cost}}"
							  {% else %} 
							  value="0"
							  {% endif %}
							  > 						
							</div>
							<div dir="rtl" class="form-group col-md-2 pull-right">
							  <label >الغرفة الثلاثية</label>
							  <input type="Number" class="form-control" name="updated_trip_room_cost"
							  {% if package %}
							  value="{{package.updated_trip_room_cost}}" 
							  {% else %} 
							  value="0"
							  {% endif %}
							  > 						
							</div>
							<div dir="rtl" class="form-group col-md-2 pull-right">
							  <label >الغرفة الرباعية</label>
							  <input type="Number" class="form-control" name="updated_quad_room_cost"
							  {% if package %}
							  value="{{package.updated_quad_room_cost}}"
							  {% else %} 
							  value="0"
							  {% endif %}
							  > 						
							</div>
							<div dir="rtl" class="form-group col-md-2 pull-right">
							  <label >الغرفة الخماسية</label>
							  <input type="Number" class="form-control" name="updated_quin_room_cost"
							  {% if package %}
							  value="{{package.updated_quin_room_cost}}"
							  {% else %} 
							  value="0"
							  {% endif %}
							   >
							</div>

							</div>
							<div class="col-md-12">
							<h4>النقل</h4>
							<hr>
							</div>
							<div class="col-md-12">
							<div dir="rtl" class="form-group col-md-6">
							  <label for="include">وسيلة السفر</label>
							  <select class="form-control" name="transport">
							  <option value="BUS" {% if package.transport == 'BUS' %} selected {% endif %}>نقل بري</option>
							  <option value="FLIGHT" {% if package.transport == 'FLIGHT' %} selected {% endif %}>طيران</option>
							  </select>
							</div>

							<div dir="rtl" class="form-group col-md-6">
							  <label >خطوط الطيران</label>
							  <input type="text" class="form-control" name="airlines" 
							  value="{{package.airlines}}"> 						
							</div>
							

							<div dir="rtl" class="form-group col-md-6">
							  <label >نوع الباص</label>
							  <input type="text" class="form-control" name="bus_model"
							  value="{{package.bus_model}}"> 						
							</div>

							<div dir="rtl" class="form-group col-md-6">
							  <label >عدد ركاب الباص</label>
							  <input type="Number" class="form-control" name="bus_capacity"
							  value="{{package.bus_capacity}}"> 						
							</div>
							</div>
							<div class="col-md-12">
							<h4>مواعيد الرحلات المتاحة</h4>
							<hr>
							</div>
							<div class="col-md-12" style="text-align:left;" >
								{% for date in calendar %} 
									<div class="checkbox-block col-md-3">
										<input id="{{date}}" name="available_date" type="checkbox" class="checkbox" 
										value="{{date.isoformat}}" 
										{% if date in available_dates %} checked {% endif %} />
										<label class="" for="{{date}}">
										{% if date.weekday == 0 %}
										إثنين
										{% elif date.weekday == 1 %}
										ثلاثاء
										{% elif date.weekday == 2 %}
										أربعاء
										{% elif date.weekday == 3 %}
										خميس 
										{% elif date.weekday == 4 %} 
										جمعة
										{% elif date.weekday == 5 %} 
										سبت
										{% elif date.weekday == 6 %}
										أحد
										{% endif %} 
										{{date.isoformat}} 
										</label>
									</div>
								{% endfor %}}

							</div>
							<div dir="rtl" class="form-group text-center  col-md-12">
									<input required type="submit" class="btn btn-success "  value="إتمام" >
									{% if package %}
									<a href="{% url 'supplier:remove_package' package_id=package.id %}"
									class="btn btn-danger "  
									onclick="return confirm('هل تريد بالتأكيد حذف العرض ؟')" >حذف</a>
									{% endif %}
							</div>
						</div>
						</form>

						</div>								
						</div>
							
					</div>


				</div>
				
			</div>
					
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 