{% extends 'base.html' %} 
{% block main_wrapper %} 
<style>
/* styling used to mimmick pinterest style */
@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
	column-width: 450px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	margin: 0 2px 15px;
	/*padding: 15px;*/
	padding-bottom: 10px;
	/*transition: opacity .4s ease-in-out;*/
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img hola{
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}
/*
div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}*/

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
</style>
		<div class="main-wrapper">
			
			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('/static/images/backgrounds/amman.jpg');">
				
				<div class="container">
				
					<div class="row" dir="rtl">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
						
							<h1 class="hero-title">XXXX{{agency.title}}</h1>
							
							<ol class="breadcrumb-list">
								<li><a href="/">الرئيسية</a></li>
								<li><a  href="{% url 'catalogue:list' %}?country_code=JO">NNN</a></li>
								<li>ABD</li>
							</ol>
							
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<div class="content-wrapper" style="padding-top: 5%;">
			
				<div class="container">
			
					<div class="row" >
						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">

							<div class="sorting-wrappper rtl">
			
								<div class="sorting-header">
									<h3 class="sorting-title uppercase">3 Countries: Germany, France, Austria</h3>
									<p class="sorting-lead">587 results found</p>
								</div>

							</div>
							
						<div id="columns" dir="rtl" >
						{% for agency , packages in agencies_list %} 
						<figure style="width:100%" >
							<div style="padding:10px;">
							<div dir="lrt" class="form-group" >
								<h3><span class="pull-left"><small>ابتداء من {{agency.start_from}} دينار</small></span><span>{{agency.title}}</span></h3>
							</div>
							<div class="form-group" dir="rtl"> 
							  <table class="table" >
							  	<span style="color:#43C458" >العروض</span>
							  <tr>
							    <td>فندق مكة</td>
							    <td>فندق المدينة</td>
							    <td></td>
							  </tr>
							  {% for package in packages %} 
							  <tr>
							    <td>{{package.madinah_hotel.title}}</td>
							    <td>{{package.makkah_hotel.title}}</td>
							    <td>{{package.transport}}</td>
							  </tr>
							  {% endfor %}
							</table>
							<div style="text-align: center;">
							<a href="{% url 'catalogue:catalogue_agency' agency_id=agency.id %}" style="border:.1px solid #43C458;border-radius: 5px;padding:10px;" >اظهر الأسعار</a>
							</div>
							</div>	
							</div>
						</figure>
						{% endfor %} 
						</div>
						</div>
							
					</div>


				</div>
				
			</div>
<!-- <script type="text/javascript" src="/static/js/slick.min.js"></script> -->

<script>

var hotel_select = $('#makkah_hotel_select')

hotel_select.on('change',function(){
        $.ajax({

        url: "/get_hotel_photos/" + hotel_select.val()  ,
             success: function(result){
            	var slideshow = $('#slideshow')
            	$('#slideshow').html('')
            	var nav_slider = $('#navslider')
            	$('#navslider').html('')
            	// alert($('#navslider').html())

            	$('#slideshow').attr('class' , 'slider gallery-slideshow')
            	$('#navslider').attr('class' , 'slider gallery-nav')
            	
				var images_html = ""
                $(result).find('PHOTO_URL').each(function(){
                	console.log('one');
                	var div0  = $('<div>')
                	var div = $('<div>')
                	var inner_div = $('<div>' , {'class' : 'image'} ) 
                	var image = $('<img>' , {'src' : $(this).text()})
                	var element = $(div0).append($(div).append($(inner_div).append((image))))
                	images_html = images_html + $(element).clone().html()
                })
	        	$('#navslider').html('')
	        
				$('.gallery-slideshow').slick('unslick');				
				$('.gallery-nav').slick('unslick')
				
	        	$('#navslider').html(images_html)
	        	$('#slideshow').html(images_html)


				$('.gallery-slideshow').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					speed: 500,
					arrows: true,
					fade: true,
					asNavFor: '.gallery-nav'
				});
				$('.gallery-nav').slick({
					slidesToShow: 7,
					slidesToScroll: 4,
					speed: 500,
					asNavFor: '.gallery-slideshow',
					dots: false,
					centerMode: true,
					focusOnSelect: true,
					infinite: true,
					responsive: [
						{
						breakpoint: 1199,
						settings: {
							slidesToShow: 7,
							}
						}, 
						{
						breakpoint: 991,
						settings: {
							slidesToShow: 5,
							}
						}, 
						{
						breakpoint: 767,
						settings: {
							slidesToShow: 5,
							}
						}, 
						{
						breakpoint: 480,
						settings: {
							slidesToShow: 3,
							}
						}
					]
				});
         }
    }); 
    });


var agencySelect = $('#agencySelect')
</script>
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 