{% load custom_filters %}
<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="title" content="عمرة-جو! دليلك لبرامج العمرة.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="منصة تجمع برامج وعروض العمرة في العالم بمكان واحد ، ستجد لدينا عروض العمرة بأفضل الأسعار . " />
	<meta name="keywords" content="عمرة , باكج عمرة , عروض عمرة , العمرة , عمره , عروض عمره , برامج عمره , رحلة عمره , رحلات عمره , شركات عمره , مكة , المدينة المنورة , مكة " />
	<meta name="author" content="عمرة جو ">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% block title %} 
	{% endblock %} 
	
	<!-- Fav and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/static/images/ico/favicon.png">

	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" media="screen">	
	<link href="/static/css/animate.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/component.css" rel="stylesheet">
	
	<!-- CSS Font Icons -->
	<link rel="stylesheet" href="/static/icons/ionicons/css/ionicons.css">
	<link rel="stylesheet" href="/static/icons/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="/static/icons/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="/static/icons/rivolicons/style.css">

	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

	<!-- Google Fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'> -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic' rel='stylesheet' type='text/css'> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet"> -->

	<!-- CSS Custom -->
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/color-02.css" rel="stylesheet">

	<!-- CSS Colors -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115302054-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-115302054-1');
	</script>

</head>
<style>
/*these styles to RTL elements and components */
.rtl { 
	text-align:right;
 }
.rtl-static{
	position:static;
}
.rtl-left-margin{
	margin-left:50px;

}
.navbar-primary{
 	position:absolute;
 	top:0;right:0;
 	width:100%
 }
</style>

<style>
/* styling for fb button */

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


</style>


<body>

	<div id="introLoader" class="introLoading"></div>
	
	<!-- BEGIN # MODAL LOGIN -->
	<div class="modal fade modal-login modal-border-transparent" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<button type="button" class="btn btn-close close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				
				<div class="clear"></div>
				
				<!-- Begin # DIV Form -->
				<div id="modal-login-form-wrapper" style="display:none;" >
					
					<!-- Begin # Login Form -->
					<form id="login-form">
					
						<div class="modal-body pb-5">
					
							<h4 class="text-center heading mt-10 mb-20">>خول</h4>
						
							<button class="btn btn-facebook btn-block">Sign-in with Facebook</button>
							
							<div class="modal-seperator">
								<span>or</span>
							</div>
							
							<div class="form-group"> 
								<input id="login_username" class="form-control" placeholder="username" type="text"> 
							</div>
							<div class="form-group"> 
								<input id="login_password" class="form-control" placeholder="password" type="password"> 
							</div>
			
							<div class="form-group">
								<div class="row gap-5">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="checkbox-block fa-checkbox"> 
											<input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" value="First Choice" type="checkbox"> 
											<label class="" for="remember_me_checkbox">remember</label>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 text-right"> 
										<button id="login_lost_btn" type="button" class="btn btn-link">forgot pass?</button>
									</div>
								</div>
							</div>
						
						</div>
						
						<div class="modal-footer">
						
							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block">Sign-in</button>
								</div>
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block btn-inverse" data-dismiss="modal" aria-label="Close">Cancel</button>
								</div>
							</div>
							<div class="text-left">
								No account? 
								<button id="login_register_btn" type="button" class="btn btn-link">Register</button>
							</div>
							
						</div>
					</form>
					<!-- End # Login Form -->
								
					<!-- Begin | Lost Password Form -->
					<form id="lost-form" style="display:none;">
						<div class="modal-body pb-5">
						
							<h3 class="text-center heading mt-10 mb-20">Forgot password</h3>
							<div class="form-group mb-10"> 
								<input id="lost_email" class="form-control" type="text" placeholder="Enter Your Email">
							</div>
							
							<div class="text-center">
								<button id="lost_login_btn" type="button" class="btn btn-link">Sign-in</button> or 
								<button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
							</div>
							
						</div>
						
						<div class="modal-footer mt-10">
							
							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6">
									<button type="submit" class="btn btn-primary btn-block">Submit</button>
								</div>
								<div class="col-xs-6 col-sm-6">
									<button type="submit" class="btn btn-primary btn-inverse btn-block" data-dismiss="modal" aria-label="Close">Cancel</button>
								</div>
							</div>
							
						</div>
						
					</form>
					<!-- End | Lost Password Form -->
								
					<!-- Begin | Register Form -->
					<form id="register-form" style="display:none;">
					
						<div class="modal-body pb-5">
						
							<h3 class="text-center heading mt-10 mb-20">Register</h3>
							
							<button class="btn btn-facebook btn-block">Register with Facebook</button>
							
							<div class="modal-seperator">
								<span>or</span>
							</div>
							
							<div class="form-group"> 
								<input id="register_username" class="form-control" type="text" placeholder="Username"> 
							</div>
							
							<div class="form-group"> 
								<input id="register_email" class="form-control" type="email" placeholder="Email">
							</div>
							
							<div class="form-group"> 
								<input id="register_password" class="form-control" type="password" placeholder="Password">
							</div>
							
							<div class="form-group"> 
								<input id="register_password_confirm" class="form-control" type="password" placeholder="Confirm Password">
							</div>

						</div>
							
						<div class="modal-footer mt-10">
						
							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block">Register</button>
								</div>
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-inverse btn-block" data-dismiss="modal" aria-label="Close">Cancel</button>
								</div>
							</div>
							
							<div class="text-left">
									Already have account? <button id="register_login_btn" type="button" class="btn btn-link">Sign-in</button>
							</div>
							
						</div>
							
					</form>
					<!-- End | Register Form -->
								
				</div>
				<!-- End # DIV Form -->
								
			</div>
		</div>
	</div>
	<!-- END # MODAL LOGIN -->
	
	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">
	  
			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function" style="min-width:100px;">
				
				<div class="navbar-top" >
				
					<div class="container">
						
						<div class="flex-row flex-align-middle">
							<div class="flex-columns">
								<!-- <div class="pull-right"> -->
								<div class="rtl">
								
									<div class="navbar-mini">
										<ul class="clearfix">
										
											<li class="user-action">
												<a data-toggle="modal" href="#loginModal" class="btn">اتصل بنا</a>
											</li>

											<li class="dropdown bt-dropdown-click hidden-xs">
												<a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="ion-social-usd hidden-xss"></i> Dollar
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu" aria-labelledby="language-dropdown">
													<li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
													<li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
													<li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
												</ul>
											</li> 
											
											<li class="dropdown bt-dropdown-click hidden-xs">
												<a id="currncy-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="ion-android-globe hidden-xss"></i> عربي
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu" aria-labelledby="language-dropdown">
													<li><a href="#">عربي</a></li>
													<!-- <li><a href="#">France</a></li>
													<li><a href="#">Japanese</a></li> -->
												</ul>
											</li>
											
											<!-- <li class="dropdown bt-dropdown-click visible-xs">
												<a id="currncy-language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="language-dropdown">
													<li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
													<li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
													<li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
													<li class="divider"></li>
													<li><a href="#">English</a></li>
													<li><a href="#">France</a></li>
													<li><a href="#">Japanese</a></li>
												</ul>
											</li> -->
											
										</ul>
									</div>
						
								</div>
							</div>
							<div class="flex-shrink flex-columns" style="margin-right:40px	">
								<a class="navbar-logo" href="{% url 'catalogue:landing_page' %}">
									<img src="/static/images/logo_arabic.png" alt="Logo" />
								</a>
							</div>
						</div>

					</div>
				</div>
				
				<div class="navbar-bottom hidden-sm hidden-xs" >
				
					<div class="container">
					
						<div class="row">
						
							<div class="col-sm-3">
							
								<div class="navbar-phone">اتصل بنا 0789779499 <i class="fa fa-phone"></i> </div>
							
							</div>

							<div class="col-sm-9">
								
								<div id="navbar" class="collapse navbar-collapse navbar-arrow pull-right">
									<ul class="nav navbar-nav" id="responsive-menu">
									{% if user.is_authenticated %}
										<li><a href="{% url 'customer:logout_user' %}">خروج</a></li>
									{% endif  %}
									{% if not user|has_group:'supplier' %}
										<li><a href="{% url 'customer:profile' %}">الحساب</a></li>
									{% endif %}
										<li><a href="{% url 'catalogue:about' %}">من نحن</a></li>
										<li><a href="{% url 'catalogue:contact' %}">اتصل بنا</a></li>
										<li><a >المدن</a>
											<ul>
												{% for country in countries %} 
												<li><a href="{% url 'catalogue:agencies_list' %}?country_code={{country.country_code}}">{{country.title}}</a></li>
												{% endfor %} 
											</ul>
										</li>
										<li><a>الوكالات</a>
											<ul>
												{% for agency in agencies %} 
												<li><a href="{% url 'catalogue:catalogue_agency' agency_id=agency.id %}">{{agency.title}}</a></li>
												{% endfor %} 
											</ul>
										</li>
										<li><a href="{% url 'catalogue:landing_page' %}">الرئيسية</a></li>
										
									</ul>
								</div><!--/.nav-collapse -->
								
							</div>
							
						</div>
						
					</div>
				
				</div>

				<div id="slicknav-mobile"></div>
				
			</nav>
			<!-- end Navbar (Header) -->

		</header>

		<div class="clear"></div>
		
		<!-- start Main Wrapper -->
		{% block main_wrapper %} 
		{% endblock %} 
		<!-- end Main Wrapper -->

		<footer class="footer">
			
			<div class="container">
			
				<div class="main-footer">
				
					<div class="row rtl">
				
						<div class="col-xs-12 col-sm-6 col-md-6">

							<div class="row gap-10">

								<div class="col-xs-12 col-sm-12 col-md-12 mt-30-xs">
								
									<h5 class="footer-title">About Tour Packer</h5>
									
									<ul class="footer-menu">
										
										<li><a href="{% url 'supplier:agency_profile'  %}">لوحة التحكم  <span class="label label-primary">شركات</span></a></li>
										{% if not user.is_authenticated %}
										<li><a href="{% url 'customer:register_agency'  %}">تسجيل الشركات  <span class="label label-primary">شركات</span></a></li>
										{% endif %}
										<li><a href="static-page.html">Who we are</a></li>
										<li><a href="static-page.html">Careers</a></li>
										<li><a href="static-page.html">Company history</a></li>
										<li><a href="static-page.html">Legal</a></li>
										<li><a href="static-page.html">Partners</a></li>
										<li><a href="static-page.html">Privacy notice</a></li>
										<li><a href="/sitemap.xml">Site map</a></li>
										
									</ul>
									
								</div>
								
								
								
							</div>

						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-6">
						
							<div class="footer-logo pull-right">
								<img src="/static/images/logo_arabic.png" alt="Logo" />
							</div>
							<p class="footer-address"><br><br>324 Yarang Road, T.Chabangtigo, Muanng Pattani 9400 <br/> <i class="fa fa-phone"></i> +66 28 878 5452 <br/> <i class="fa fa-phone"></i> +66 2 547 2223 <br/> <i class="fa fa-envelope-o"></i> <a href="#">support@tourpacker.com</a></p>
							
							<div class="footer-social">
							
								<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
							
							</div>
							<p class="copy-right">&#169; Copyright 2016 Tour Packer. All Rights Reserved</p>
							
						</div>
						
					</div>

				</div>
				
			</div>
			
		</footer>
		
	</div>  <!-- end Container Wrapper -->
 

 
	<!-- start Back To Top -->
	<div id="back-to-top">
		 <a href="#"><i class="fa fa-angle-up"></i></a>
	</div>
	<!-- end Back To Top -->



<!-- JS -->

<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.placeholder.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/instagram.min.js"></script> -->
<script type="text/javascript" src="/static/js/spin.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="/static/js/select2.full.js"></script>
<script type="text/javascript" src="/static/js/jquery.responsivegrid.js"></script>
<script type="text/javascript" src="/static/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="/static/js/readmore.min.js"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/validator.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.raty.js"></script> 
<script type="text/javascript" src="/static/js/customs.js"></script>


</body>
</html>