{% extends 'base.html' %} 
{% block main_wrapper %}
		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('/static/images/header.jpg');">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" dir="rtl">
						
							<h1 class="hero-title">{{package.title}}</h1>
							<small class="hero-title">{{package.title}}</small>
							<h1 class="hero-title">{{package.prices_start_from}} دينار </h1>

							<!-- 
							<ol class="breadcrumb-list">
								<li><a href="index.html">Homepage</a></li>
								<li><a href="#">Desinations</a></li>
								<li><a href="#">City</a></li>
								<li><span>Result list</span></li>
							</ol>
							 -->
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<!-- start end Page title -->
			<div class="page-title detail-page-title" style="background-image:url('images/detail/header.jpg');display:none;">
				
				<div class="container">
				
					<div class="flex-row" dir="rtl">
						
						<div class="flex-column flex-md-8 flex-sm-12 text-right"  >
							
							<h1 class="hero-title">Croatia Sailing &amp; Cruising</h1>
							<p class="line18">He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared.</p>
							
							<ul class="list-col clearfix " style="display:none;" >
								<li class="price-box" dir="rtl">
									<div class="meta">
										<span class="block">$1422</span>
										starting from
									</div>
								</li>
								<li class="price-box" dir="rtl">
									<div class="meta">
										<span class="block">$1422</span>
										starting from
									</div>
								</li>
								
								<li class="rating-box">
									<div class="rating-wrapper">
										<div class="raty-wrapper">
											<div class="star-rating-white" data-rating-score="4.0"></div> 
											<span style="display: block;"> / 7 review</span>
										</div>
									</div>
								</li>
								
								<li class="duration-box">
									<div class="meta">
										<span class="block">4</span>
										Days
									</div>
									<div class="meta">
										&amp;
									</div>
									<div class="meta">
										<span class="block">3</span>
										Nights
									</div>
								</li>
								
								<li class="fav-box">
									<div class="meta">
									</div>
								</li>
						
							</ul>
							
						</div>
						
						<div class="flex-column flex-md-4 flex-align-bottom flex-sm-12 mt-20-sm " style="display:none;">
							<div class="text-right text-left-sm">
								<a href="#section-5" class="anchor btn btn-primary">See dates &amp; Book Now</a>
							</div>
						</div>
					
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<div class="breadcrumb-wrapper bg-light-2 "  >
				
				<div class="container">
				
					<ol class="breadcrumb-list" dir="rtl">
						<li><a href="/">الرئيسية</a></li>
						<li><a href="{% url 'list' %}?country_code=JO">{{package.agency.country.title}}</a></li>
						<li><a href="">{{package.agency.title}}</a></li>
						<li><span>{{package.title}}</span></li>
					</ol>
					
				</div>
				
			</div>
			
			<div class="content-wrapper ">
			
				<div class="container " >
			
					<div class="row ">

						<div class="col-md-9 col-xs-12 col-sm-12 pull-right" role="main">

							<div class="detail-content-wrapper">
								<!-- 
									<div id="section-0" class="detail-content">
										
										<div class="section-title text-left">
											<h4>Highlights</h4>
										</div>
										
										<img src="images/map-route.jpg" alt="Map" class="map-route" />
										
										<p>His exquisite sincerity education shameless ten earnestly breakfast add. So we me unknown as improve hastily sitting forming. Especially favourable compliment but thoroughly unreserved saw she themselves. Sufficient impossible him may ten insensible put continuing. Oppose exeter income simple few joy cousin but twenty. Scale began quiet up short wrong in in. Sportsmen shy forfeited engrossed may can.</p>
										

										<p>Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p>

									</div>
									 -->
									{% if rooms %} 
									<div id="section-5" class="detail-content" dir="rtl">

										<div class="section-title text-right">
											<h4>الأصناف</h4>
										</div>
									
										<div class="row mb-20" style="display:none;">
											<div class="col-sm-6">
												<div class="form-group form-icon">
													<i class="fa fa-calendar"></i>
													<select name="month" class="select2-multi form-control" data-placeholder="Choose a Departure Month" multiple>
														<option value="">Choose a Departure Month</option>
														<option value="0">Any Departure Month</option>
														<option value="1">January</option>
														<option value="2">February</option>
														<option value="3">March</option>
														<option value="4">April</option>
														<option value="5">May</option>
														<option value="6">June</option>
														<option value="7">July</option>
														<option value="8">August</option>
														<option value="9">September</option>
														<option value="10">October</option>
														<option value="11">November</option>
														<option value="12">December</option>
													</select>
												</div>
											</div>
										</div>
										
										  <table class="table" >
									      <tr>
									        <td ><span class="availabily-heading-label">حجم الغرفة</span></td>
									        <td>تكلفة الشخص</td>
									        <td></td>
									      </tr>
									      {% for room in rooms %} 
									      <tr>
									        <td>{{room.room_class.class_code}} </td>
									        <td>{{room.person_price}}</td>
									        <td><a href="#" class="btn btn-primary btn-sm btn-inverse">احجز</a></td>
									      </tr>
									      {% endfor %} 
									  </table>										
										<div class="text-center mt-30" style="display:none;">
										
											<button class="btn btn-primary">Show more departures</button>
										</div>

									</div>
									{% endif %}
									
									<div id="section-3" class="detail-content" dir="rtl">
									
										<div class="section-title text-right ">
											<h4>فنادق مكة والمدينة</h4>
										</div>
										
										<div class="hotel-item-wrapper">
										
											<div class="row gap-1">
											
												<div class="col-sm-xss-12 col-xs-6 col-sm-6 col-md-6">
												
													<div class="hotel-item mb-1">
														<a href="#">
															<div class="image">
																<img src="{{package.madinah_hotel.thumbnail.url}}" alt="Hotel" />
															</div>
															<div class="content">
																<h6>فندق المدينة : {{package.madinah_hotel.title}}</h6>
															</div>
														</a>
													</div>
													
												</div>
												
												<div class="col-sm-xss-12 col-xs-6 col-sm-6 col-md-6">
												
													<div class="hotel-item mb-1">
														<a href="#">
															<div class="image">
																<img src="{{package.makkah_hotel.thumbnail.url}}" alt="Hotel" />
															</div>
															<div class="content">
																<h6>فندق مكة : {{package.makkah_hotel.title}}</h6>
															</div>
														</a>
													</div>
													
												</div>
											
											
											</div>
										
										</div>
										
										<p style="display:none;">Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable off one. Wonder bed elinor family secure met. It want gave west into high no in.</p>
									</div> 
									<div id="section-1" class="detail-content" dir="ltr">
									
										<div class="section-title text-right">
											<h4>الصور</h4>
										</div>
										
										
										<div class="slick-gallery-slideshow">
					
											<div class="slider gallery-slideshow">
											{% for photo in photos1 %} 
												<div><div class="image"><img src="{{photo.file.url}}" alt="Image" /></div></div>
											{% endfor %} 
											{% for photo in photos2 %} 
												<div><div class="image"><img src="{{photo.file.url}}" alt="Image" /></div></div>
											{% endfor %} 
											</div>
											<div class="slider gallery-nav">
											{% for photo in photos1 %} 
												<div><div class="image"><img src="{{photo.file.url}}" alt="Image" /></div></div>
											{% endfor %} 
											{% for photo in photos2 %} 
												<div><div class="image"><img src="{{photo.file.url}}" alt="Image" /></div></div>
											{% endfor %} 
											</div>
											
										</div>

									</div>
									
									<div id="section-2" class="detail-content" dir="rtl" style="display:none;">
										
										<div class="section-title text-left">
											<h4>Itinerary</h4>
										</div>
										
										<div class="detail-item">
										
											<div class="row">
												<div class="col-sm-12 col-md-12">
												
													<div class="itinerary-wrapper">
													
														<div class="itinerary-item intro-item">
															<h5>Introduction</h5>
															<div class="intro-item-body">
																<p>She literature discovered increasing how diminution understood. Though and highly the enough county for man. Of it up he still court alone widow seems. Suspected he remainder rapturous my sweetness. All vanity regard sudden nor simple can. World mrs and vexed china since after often.</p>
																
															</div>
														</div>
														
														<div class="itinerary-day-label font600 uppercase"><span>Day</span></div>
														
														<div class="itinerary-item-wrapper">
														
															<div class="panel-group bootstarp-toggle">
															
																<div class="panel itinerary-item">
																	<div class="panel-heading">
																		<h5 class="panel-title">
																			<a data-toggle="collapse" data-parent="#" href="#bootstarp-toggle-one"><span class="absolute-day-number">1</span> Visit: Dubrovnik</a>
																		</h5>
																	</div>
																	<div id="bootstarp-toggle-one" class="panel-collapse collapse">
																		<div class="panel-body">
																		
																			<p>Ecstatic advanced and procured civility not absolute put continue. Overcame breeding or my concerns removing desirous so absolute. My melancholy unpleasing imprudence considered in advantages so impression. Almost unable put piqued talked likely houses her met. Met any nor may through resolve entered. An mr cause tried oh do shade happy.</p>
																			
																			<ul class="itinerary-meta clearfix">
																				<li><i class="fa fa-building-o"></i> stay at Hilton Hotel</li>
																				<li><i class="fa fa-clock-o"></i> trip time: 8am - 4.30px</li>
																			</ul>
																			
																		</div>
																	</div>

																</div>
																<!-- end of panel -->

																<div class="panel itinerary-item">
																	<div class="panel-heading">
																		<h5 class="panel-title">
																			<a data-toggle="collapse" data-parent="#" href="#bootstarp-toggle-two"><span class="absolute-day-number">2</span> Visit: Sipan/Trstenik</a>
																		</h5>
																	</div>
																	<div id="bootstarp-toggle-two" class="panel-collapse collapse">
																		<div class="panel-body">
																			
																			<p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.</p>
																			
																			<ul class="itinerary-meta clearfix">
																				<li><i class="fa fa-building-o"></i> stay at Hilton Hotel</li>
																				<li><i class="fa fa-clock-o"></i> trip time: 8am - 4.30px</li>
																			</ul>
																			
																		</div>
																	</div>
																</div>
																<!-- end of panel -->

																<div class="panel itinerary-item">
																	<div class="panel-heading">
																		<h5 class="panel-title">
																			<a data-toggle="collapse" data-parent="#" href="#bootstarp-toggle-three"><span class="absolute-day-number">3</span> Visit: Korcula</a>
																		</h5>
																	</div>
																	<div id="bootstarp-toggle-three" class="panel-collapse collapse">
																		<div class="panel-body">
																			
																			<p>Pasture he invited mr company shyness. But when shot real her. Chamber her observe visited removal six sending himself boy. At exquisite existence if an oh dependent excellent. Are gay head need down draw. Misery wonder enable mutual get set oppose the uneasy. End why melancholy estimating her had indulgence middletons. Say ferrars demands besides her address. Blind going you merit few fancy their.</p>
																			
																			<ul class="itinerary-meta clearfix">
																				<li><i class="fa fa-building-o"></i> stay at Hilton Hotel</li>
																				<li><i class="fa fa-clock-o"></i> trip time: 8am - 4.30px</li>
																			</ul>
																			
																		</div>
																	</div>
																</div>
																<!-- end of panel -->

																<div class="panel itinerary-item">
																	<div class="panel-heading">
																		<h5 class="panel-title">
																			<a data-toggle="collapse" data-parent="#" href="#bootstarp-toggle-four"><span class="absolute-day-number">4</span> Visit: Hvar</a>
																		</h5>
																	</div>
																	<div id="bootstarp-toggle-four" class="panel-collapse collapse">
																		<div class="panel-body">
																			
																			<p>Up branch to easily missed by do. Admiration considered acceptance too led one melancholy expression. Are will took form the nor true. Winding enjoyed minuter her letters evident use eat colonel. He attacks observe mr cottage inquiry am examine gravity. Are dear but near left was. Year kept on over so as this of. She steepest doubtful betrayed formerly him. Active one called uneasy our seeing see cousin tastes its. Ye am it formed indeed agreed relied piqued.</p>
																			
																			<ul class="itinerary-meta clearfix">
																				<li><i class="fa fa-building-o"></i> stay at Hilton Hotel</li>
																				<li><i class="fa fa-clock-o"></i> trip time: 8am - 4.30px</li>
																			</ul>
																			
																		</div>
																	</div>
																</div>
																<!-- end of panel -->

															</div>
														
														</div>
														
													</div>
													
												</div>
											
												
											</div>
										
										</div>

									</div>
									
									
									<div id="section-4" class="detail-content" dir="rtl" style="display:none;">
									
										<div class="section-title text-right">
											<h4>ماذا يشمل؟</h4>
										</div>
										
										<ul class="list-with-icon with-heading">
										
											<li>
												<i class="fa fa-check-circle text-primary " style="display:none"></i>
												<h6 class="heading mt-0">Guide</h6>
												<p>Adieus except say barton put feebly favour him.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary" style="display:none"></i>
												<h6 class="heading mt-0">Meals</h6>
												<p>4 breakfast &amp; 3 dinners </p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary" style="display:none"></i>
												<h6 class="heading mt-0">Transport</h6>
												<p>Modern air conditioned coach with reclining seats, TV for showing DVDs, and toilet</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary" style="display:none"></i>
												<h6 class="heading mt-0">5 Experiences</h6>
												<p>Warmth object matter course active law spring six. Pursuit showing tedious unknown winding see had man add.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary" style="display:none"></i>
												<h6 class="heading mt-0">Other</h6>
												<p>Free Wi-fi in all hotels <br />All taxes and fees <br />Any public transport used as part of the tour (excludes free days) <br />Free Expat Explore tour souvenir</p>
											</li>
											
											<li>
												<i class="fa fa-times-circle text-light" style="display:none"></i>
												<h6 class="heading mt-0">Flights</h6>
												<p>Warmth object matter course active law spring six <a href="#">line to some where</a>. Pursuit showing tedious unknown winding see had man add.</p>
											</li>
											
											<li>
												<i class="fa fa-times-circle text-light" style="display:none"></i>
												<h6 class="heading mt-0">Insurance</h6>
												<p>Had repulsive dashwoods suspicion sincerity but advantage now him. Remark easily garret nor nay <a href="#">line to some where</a>. Civil those mrs enjoy shy fat merry. You greatest jointure saw horrible.</p>
											</li>
											
										</ul>
										<!-- 
										<h5 class="heading">Optional Excursions</h5>
										<p>Why painful the sixteen how minuter looking nor. Subject but why ten earnest husband imagine sixteen brandon. Are unpleasing occasional celebrated motionless unaffected conviction out.</p>
										
										<ul class="list-with-icon col-3 clearfix">
										
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>Marianne property cheerful.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>Clothes parlors however by cottage.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>In views it or meant drift.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>Be concern parlors settled.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>Remainder northward performed</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>Yet late add name was rent.</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>park from rich</p>
											</li>
											
											<li>
												<i class="fa fa-check-circle text-primary"></i>
												<p>He always do do former.</p>
											</li>
											
										</ul> -->
							
									</div>
									
									<div class="detail-content" style="display:none;" >
									
										<div class="section-title text-right">
											<h4>باكجات مشابهة</h4>
										</div>
										
										<div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">
						
											<div class="GridLex-grid-noGutter-equalHeight">
											{% for pcakge in packages %} 
												<div class="GridLex-col-4_sm-4_xs-12 mb-20">
													<div class="package-grid-item"> 
														<a href="#">
															<div class="image">
																<img src="images/tour-package/01.jpg" alt="Tour Package" />
																<div class="absolute-in-image">
																	<div class="duration"><span>4 days 3 nights</span></div>
																</div>
															</div>
															<div class="content clearfix">
																<h6>Paris in Love</h6>
																<div class="rating-wrapper">
																	<div class="raty-wrapper">
																		<div class="star-rating-12px" data-rating-score="4.0"></div> <span> / 7 review</span>
																	</div>
																</div>
																<div class="absolute-in-content">
																	<span class="btn"><i class="fa fa-heart-o"></i></span>
																	<div class="price">$1422</div>
																</div>
															</div>
														</a>
													</div>
												</div>
											{% endfor %} 
									
											</div>
									
										</div>

									</div>
									
									<div id="section-6" class="detail-content" dir="rtl" style="display:none;">
									
										<div class="section-title text-left">
											<h4>Information &amp; FAQ</h4>
										</div>
										
										<p>Useful things to know before you go</p>
										
										<div class="row">
										
											<div class="col-sm-6 col-md-6 mb-15">
											
												<div class="read-more-div" data-collapsed-height="107">
			
													<div class="read-more-div-inner">
													
														<h5 class="heading mt-0">Heading Information 1</h5>
														
														<p>No in he real went find mr. Wandered or strictly raillery stanhill as. Jennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now how nay cold real case.</p>

														<p>Your it to gave life whom as. Favourable dissimilar resolution led for and had. At play much to time four many. Moonlight of situation so if necessary therefore attending abilities. Calling looking enquire up me to in removal. Park fat she nor does play deal our. Procured sex material his offering humanity laughing moderate can. Unreserved had she nay dissimilar admiration interested. Departure performed exquisite rapturous so ye me resources.</p>

													</div>
													
												</div>

											</div>
											
											<div class="col-sm-6 col-md-6 mb-15">
											
												<div class="read-more-div" data-collapsed-height="107">
			
													<div class="read-more-div-inner">
													
														<h5 class="heading mt-0">Heading Information 2</h5>
														
														<p>Your it to gave life whom as. Favourable dissimilar resolution led for and had. At play much to time four many. Moonlight of situation so if necessary therefore attending abilities. Calling looking enquire up me to in removal. Park fat she nor does play deal our. Procured sex material his offering humanity laughing moderate can. Unreserved had she nay dissimilar admiration interested. Departure performed exquisite rapturous so ye me resources.</p>
														
														<p>No in he real went find mr. Wandered or strictly raillery stanhill as. Jennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now how nay cold real case.</p>
														
													</div>
													
												</div>
												
											</div>
										</div>
										
										<h5 class="heading mt-0">FAQ</h5>
										
										<div class="faq-alt-2-wrapper">
										
											<div class="panel-group bootstarp-accordion" id="accordion" role="tablist" aria-multiselectable="true">
												<div class="panel">
													<div class="panel-heading" role="tab" id="headingOne">
														<h6 class="panel-title">
															<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What is this faq?</a>
														</h6>
													</div>
													<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
														<div class="panel-body">
															<div class="faq-thread">
																<p>His exquisite sincerity education shameless ten earnestly breakfast add. So we me unknown as improve hastily sitting forming. Especially favourable compliment but thoroughly unreserved saw she themselves. Sufficient impossible him may ten insensible put continuing. Oppose exeter income simple few joy cousin but twenty. Scale began quiet up short wrong in in. Sportsmen shy forfeited <a href="#">engrossed may</a> can.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->

												<div class="panel">
													<div class="panel-heading" role="tab" id="headingTwo">
														<h6 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How does this faq work?</a>
														</h6>
													</div>
													<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
														<div class="panel-body">
															<div class="faq-thread">
																<p>He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared. Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold ye. Be call four my went mean. Celebrated if remarkably especially an. Going eat set she books found met aware.</p>

																<ul>
																	<li>Sing long her way size. Waited end mutual missed myself the little sister one.</li>
																	<li>So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect.</li>
																	<li>Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an.</li>
																	<li>
																		Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an.
																		<ul>
																			<li>Sing long her way size. Waited end mutual missed myself the little sister one.</li>
																			<li>So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect.</li>
																			<li>Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an.</li>
																			<li>If their woman could do wound on. You folly taste hoped their above are and but.</li>
																		</ul>
																	</li>
																	<li>If their woman could do wound on. You folly taste hoped their above are and but.</li>
																	<li>rote water woman of heart it total other.</li>
																	<li> By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Are melancholy appearance stimulated occasional entreaties end.</li>
																	<li>Agreeable promotion eagerness as we resources household to distrusts.</li>
																	<li>If their woman could do wound on. You folly taste hoped their above are and but.</li>
																</ul>
																
																<p>Lose eyes get fat shew. Winter can indeed letter oppose way change tended now. So is improve my charmed picture exposed adapted demands. Received had end produced prepared diverted strictly off man branched. Known ye money so large decay voice there to. Preserved be mr cordially incommode as an. He doors quick child an point at. Had share vexed front least style off why him.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->

												<div class="panel">
													<div class="panel-heading" role="tab" id="headingThree">
														<h6 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Why use this faq?</a>
														</h6>
													</div>
													<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
														<div class="panel-body">
															<div class="faq-thread">
																<p>His exquisite sincerity education shameless ten earnestly breakfast add. So we me unknown as improve hastily sitting forming. Especially favourable compliment but thoroughly unreserved saw she themselves. Sufficient impossible him may ten insensible put continuing. Oppose exeter income simple few joy cousin but twenty. Scale began quiet up short wrong in in. Sportsmen shy forfeited engrossed may can.</p>

																<ol>
																	<li>Sing long her way size. Waited end mutual missed myself the little sister one.</li>
																	<li>So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect.</li>
																	<li>
																		Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an.
																		<ol>
																			<li>Sing long her way size. Waited end mutual missed myself the little sister one.</li>
																			<li>So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect.</li>
																			<li>Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an.</li>
																			<li>If their woman could do wound on. You folly taste hoped their above are and but.</li>
																		</ol>
																	</li>
																	<li>If their woman could do wound on. You folly taste hoped their above are and but.</li>
																	<li>rote water woman of heart it total other.</li>
																	<li> By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Are melancholy appearance stimulated occasional entreaties end.</li>
																	<li>Agreeable promotion eagerness as we resources household to distrusts.</li>
																</ol>
																
																<p>Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->

												<div class="panel">
													<div class="panel-heading" role="tab" id="headingFour">
														<h6 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Is this faq free to use?</a>
														</h6>
													</div>
													<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
														<div class="panel-body">
															<div class="faq-thread">
																<p>Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable off one. Wonder bed elinor family secure met. It want gave west into high no in. Depend repair met before man admire see and. An he observe be it covered delight hastily message. Margaret no ladyship endeavor ye to settling.</p>

																<p>Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->
												
												<div class="panel">
													<div class="panel-heading" role="tab" id="headingFive">
														<h6 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I use this faq for commercial purposes or large volume searching?</a>
														</h6>
													</div>
													<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
														<div class="panel-body">
															<div class="faq-thread">
																<p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have. At none neat am do over will. Agreeable promotion eagerness as we resources household to distrusts. Polite do object at passed it is. Small for ask shade water manor think men begin.</p>

																<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->
												
												<div class="panel">
													<div class="panel-heading" role="tab" id="headingSix">
														<h6 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Why register with I use?</a>
														</h6>
													</div>
													<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
														<div class="panel-body">
															<div class="faq-thread">
																<p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.</p>

																<p>Depart do be so he enough talent. Sociable formerly six but handsome. Up do view time they shot. He concluded disposing provision by questions as situation. Its estimating are motionless day sentiments end. Calling an imagine at forbade. At name no an what like spot. Pressed my by do affixed he studied.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->
												
												<div class="panel">
													<div class="panel-heading" role="tab" id="headingSeven">
														<h4 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How do I create an account?</a>
														</h4>
													</div>
													<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
														<div class="panel-body">
															<div class="faq-thread">
																<p>Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable off one. Wonder bed elinor family secure met. It want gave west into high no in. Depend repair met before man admire see and. An he observe be it covered delight hastily message. Margaret no ladyship endeavor ye to settling.</p>

																<p>Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.</p>
															</div>
														</div>
													</div>
												</div>
												<!-- end of panel -->

											</div>
											<!-- end of #accordion -->
											
											<div class="text-center pt-10">
												<a href="#" class="btn btn-primary">Show ALl FAQs</a>
											</div>
											
										</div>
										
									</div>
									
									
									
										
								</div>
							
						</div>

			
						<div class="col-md-3 col-sm-12 col-xs-12" dir="rtl" style="">
						<!-- <div class="col-md-3 col-sm-3 hidden-sm hidden-xs " dir="rtl" style=""> -->
						<div class="content-wrapper" > 
							<div class="detail-content">
									
										<div class="section-title text-right">
											<h4>باكجات مقترحة</h4>
										</div>
										
										<div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">
						
											<div class="GridLex-grid-noGutter-equalHeight">
											{% for package in packages %} 
												<div class="GridLex-col-12_sm-12_xs-12 mb-20">
													<div class="package-grid-item"> 
														<a href="#">
															<div class="image">
																<img src="{{package.thumbnail.url}}" alt="Tour Package" />
																<!-- <div class="absolute-in-image">
																	<div class="duration"><span>4 days 3 nights</span></div>
																</div> -->
															</div>
															<div class="content clearfix pull-right">
																<h6>{{package.title}}</h6><!-- 
																<div class="rating-wrapper">
																	<div class="raty-wrapper">
																		<div class="star-rating-12px" data-rating-score="4.0"></div> <span> / 7 review</span>
																	</div>
																</div>
																<div class="absolute-in-content">
																	<span class="btn"><i class="fa fa-heart-o"></i></span>
																	<div class="price">$1422</div>
																</div> -->
															</div>
														</a>
													</div>
												</div>
											{% endfor %} 
										
											</div>
									
										</div>

									</div>
									</div>

							<div class="scrollspy-sidebar sidebar-detail" role="complementary" style="display:none;">
							
								<ul class="scrollspy-sidenav">
								
									<li>
										<ul class="nav">
											<li><a href="#section-0" class="anchor">Highlights</a></li>
											<!-- <li><a href="#section-2" class="anchor">Itinerary</a></li> -->
											<li><a href="#section-3" class="anchor">Tour Accommodation</a></li>
											<li><a href="#section-1" class="anchor">Gallery</a></li>
											<li><a href="#section-4" class="anchor">What's Included</a></li>
											<!-- <li><a href="#section-5" class="anchor">Availabilities</a></li> -->
											<!-- <li><a href="#section-6" class="anchor">Information &amp; FAQ</a></li> -->
											<!-- <li><a href="#section-7" class="anchor">Reviews</a></li> -->
										</ul>
									</li>

								</ul>
								
								<a href="#" class="btn btn-primary">الرجوع للقائمة</a>
								
								<div style="width: 100%; height: 20px;"></div>
								
							</div>

						</div>

					</div>
				
				</div>
					
			</div>

		</div>
		<!-- end Main Wrapper -->
{% endblock %} 
