{% extends 'base.html' %} 
{% block main_wrapper %} 
<div class="main-wrapper">
			<!-- start hero-header with windows height -->
			<div class="hero" style="display:none;background-image:url('/static/images/backgrounds/hero.jpg');">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						
							<h1 class="hero-title">يلا نروح عمرة </h1>
							<p class="lead">سافر واستمتع بالعمرة الآن! </p>

						</div>
						
					</div>
					
					<div class="main-search-wrapper full-width " >
					
						<div class="inner">
							
							
								<div class="form-group ">

									<a href="#how_it_works" class="btn btn-primary btn-lg">ابدأ</a>
									
								</div>
							
							<!-- <div class="column-item ">
							
								<div class="form-group">
								
									<select name="destination" class="select2-multi form-control" data-placeholder="Choose a Destination" multiple>
										<option value="">Choose a Destination</option>
										<option value="0">Any Destination</option>
										<option value="Albania">Albania</option>
										<option value="Austria">Austria</option>
										<option value="Belgium">Belgium</option>
										<option value="Bosnia">Bosnia</option>
										<option value="Croatia">Croatia</option>
										<option value="Czech Republic">Czech Republic</option>
										<option value="Denmark">Denmark</option>
										<option value="Egypt">Egypt</option>
										<option value="England">England</option>
										<option value="Estonia">Estonia</option>
										<option value="Finland">Finland</option>
										<option value="France">France</option>
										<option value="Germany">Germany</option>
										<option value="Greece">Greece</option>
										<option value="Herzegovina">Herzegovina</option>
										<option value="Hungary">Hungary</option>
										<option value="Ireland">Ireland</option>
										<option value="Italy">Italy</option>
										<option value="Latvia">Latvia</option>
										<option value="Liechtenstein">Liechtenstein</option>
										<option value="Lithuania">Lithuania</option>
										<option value="Luxembourg">Luxembourg</option>
										<option value="Monaco">Monaco</option>
										<option value="Montenegro">Montenegro</option>
										<option value="Netherlands">Netherlands</option>
										<option value="Northern Ireland">Northern Ireland</option>
										<option value="Poland">Poland</option>
										<option value="Portugal">Portugal</option>
										<option value="Russia">Russia</option>
										<option value="Scotland">Scotland</option>
										<option value="Serbia">Serbia</option>
										<option value="Slovakia">Slovakia</option>
										<option value="Slovenia">Slovenia</option>
										<option value="Spain">Spain</option>
										<option value="Sweden">Sweden</option>
										<option value="Switzerland">Switzerland</option>
										<option value="Turkey">Turkey</option>
										<option value="Vatican City">Vatican City</option>
										<option value="Wales">Wales</option>
									</select>

								</div>
							
							</div>
							
							<div class="column-item">
							
								<div class="form-group">
								
									<select name="month" class="select2-multi form-control" data-placeholder="Choose a Departure Month" multiple>
										<option value="">Choose a Departure Month</option>
										<option value="0">Any Departure Month</option>
										<option value="1">January</option>
										<option value="2">February</option>
										<option value="3">March</option>
										<option value="4">April</option>
										<option value="5">May</option>
										<option value="6">June</option>
										<option value="7">July</option>
										<option value="8">August</option>
										<option value="9">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
									
								</div>
							
							</div>
							
						 -->
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			<!-- end hero-header with windows height -->
			
			<div class="post-hero bg-light" style="display:none;" >
			
				<div class="container">
					
					<div class="row rtl">
						
						<div class="col-sm-4">
							<div class="featured-count clearfix  ">
								<div class="icon pull-right rtl-left-margin" ><i class="pe-7s-map-marker"></i></div>
								<div class="content ">
									<h6>300+ Destinations</h6>
									<span>Tastes giving in passed direct me valley supply.</span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="featured-count clearfix">
								<div class="icon pull-right rtl-left-margin"> <i class="pe-7s-user"></i></div>
								<div class="content ">
									<h6>500+ Travel Guides</h6>
									<span>Prepared do an dissuade whatever steepest.</span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="featured-count clearfix">
								<div class="icon pull-right rtl-left-margin"> <i class="pe-7s-smile"></i></div>
								<div class="content ">
									<h6>20000+ Happy Customers</h6>
									<span>Devonshire invitation discovered indulgence.</span>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				
			</div>
<!-- 
			<section>
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>Top Destinations</h3>
								
							</div>
							
						</div>
					
					</div>
					
					<div class="grid destination-grid-wrapper rtl">
			
						<div class="grid-item" data-colspan="10" data-rowspan="4">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('/static/images/destination-grid/02.jpg');">
								<div class="relative">
									<h4>Croatia</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="10" data-rowspan="10">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('/static/images/destination-grid/01.jpg');">
								<div class="relative">
									<h4>Turkey</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="5" data-rowspan="6">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('/static/images/destination-grid/03.jpg');">
								<div class="relative">
									<h4>USA</h4>
									<span>تبدا الأسعار من 4343</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="5" data-rowspan="6">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('/static/images/destination-grid/04.jpg');">
								<div class="relative">
									<h4>Emirates</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
					</div>
					
				</div>
				
			</section>
 -->

<!-- 
			<section class="bg-light">
			
				<div class="container">
				
					<div class="row text-center">
								<div class="form-group">
								
									<a href="#" class="btn btn-primary btn-lg">تصفح العروض بالأردن</a>
									
								</div>
					</div>
				</div>
			</section>
 -->

			<section class="bg-light" style="display:none;" >
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>باكجات مميزة</h3>
								<p>أفضل الباكجات الموجودة</p>
								
							</div>
							
						</div>
					
					</div>
					
					<div class="GridLex-gap-30-wrappper package-grid-item-wrapper rtl">
						<div class="GridLex-grid-noGutter-equalHeight "  dir="rtl">
						{% for package in packages %} 
							<div class="GridLex-col-4_sm-6_xs-12 mb-30" >
								<div class="package-grid-item "> 
									<a href="{% url 'package' package_id=package.id %}">
										<div class="image">
											<img src="{{package.thumbnail.url}}" alt="Tour Package" />
											<div class="absolute-in-image">
												<div class="duration"><span>4 days 3 nights</span></div>
											</div>
										</div>
										<div class="content clearfix">
											<h5>Classic Europe</h5>
											<div class="rating-wrapper">
												<div class="raty-wrapper">
													<!-- <div class="star-rating-read-only" data-rating-score="3.5"></div>  -->
													<span> / 7 review</span>
												</div>
											</div>
											<div class="absolute-in-content">
												<div class="price">$1422</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %} 

						</div>
					</div>
					
				</div>
				
			</section>
			
			<section id="how_it_works" class="overflow-hidden why-us-half-image-wrapper">
			
				<div class="GridLex-grid-noGutter-equalHeight" style="margin-right: 7%;">
					<!-- 
					<div class="GridLex-col-6_sm-12 image-bg">
						<div class="image-bg" style="background-image:url('/static/images/backgrounds/split.jpg');"></div>
					</div> -->
					
					<div class=""  style="max-width: 400px;margin-right: auto;margin-left: auto;margin-top:5%; margin-bottom:5%;" >
						
						<div class=" rtl" >
						
							<div class="section-title  text-right">
							
								<h3>طريقة عملنا</h3>
								<p class=""></p>
								
							</div>
							
							<div class="featured-item">
							
								<h4>تصفح شركات العمرة </h4>
								
								<div class="content clearfix">
								
									<div class="icon pull-right rtl-left-margin">
										<i class="pe-7s-users"></i>
									</div>
									
									<p class="">يوجد العديد من العروض والوكالات السياحية المختارة بعناية على الموقع </p>
									
								</div>
							</div>
							
							<div class="featured-item">
							
								<h4>المختارة البرنامج المناسب</h4>
								
								<div class="content clearfix">
								
									<div class="icon pull-right rtl-left-margin">
										<i class="pe-7s-home"></i>
									</div>
									
									<p class="">اذا كنت فردا ً أو مجموعة كاملة ، سوف تجد الباكج المناسب لك </p>
									
								</div>
							</div>
							
							
							<div class="featured-item">
							
								<h4>احجز العمرة</h4>
								
								<div class="content clearfix">
								
									<div class="icon pull-right rtl-left-margin">
										<i class="pe-7s-car"></i>
									</div>
									
									<p>احزم أمتعتك جيدا قبل السفر ، سواء كنت ستسافر برا ً أو جواً </p>
									
								</div>
							</div>
							
							
							<div class="featured-item" style="text-align: center;">
								<div class="content clearfix">
									<a href="{% url 'catalogue:agencies_list' %}?country_code=JO"  class="btn btn-primary btn-lg" > ابدأ</a>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</section>
			<section class="bg-light" >
			<div style="max-width:500px;margin-right:auto;margin-left:auto" role="main">
			<div style="margin-right: 10px;margin-left: 10px" >
							<div class="section-title text-right" >
								
								<h3>تسجيل الدخول</h3>
								
							</div>
							{% if messages %} 
							{% for message in messages %} 
							<div class="alert alert-danger">
							{{message}}	
							</div>
							{% endfor %} 
							{% else %} 
							<div class="alert alert-success" dir="rtl">
							مرحبا بعودتك ، قم بتسجيل الدخول لمتابعة الحجز الخاص بك  
							</div>
							{% endif %} 
							<div class="payment-container" >
							
				
									<div class="col-md-12">
									
										
										<div class="col-md-12">
											
											<div class="">
											
												<div class="row gap-0">
												
													
												</div>
												<div style="max-width:500px;margin-right:auto;margin-left:auto"  dir="rtl"  >
													<form action="{% url 'login_user' %}" method="POST">
													{% csrf_token %}  
														<label  class="col-xs-12 " >البريد الالكتروني</label>
														<input  name="username" type="email"  class="form-control" >
														<label   class="col-xs-12" >كلمة المرور</label>
														<input  name="password" type="password"  class="form-control" >
													<div class="col-md-12 mt-30" style="text-align:center;">
															<input type="submit" class="btn btn-primary" value="دخول"> 
													<a class="btn btn-danger" href="{% url 'register_user' %}" >حساب جديد </a>
													</div>
													</form>
												</div>	
												
												
												</div>
											</div>
									
										</div>
										
									</div>
									
									<div class="row mt-20">
											
									</div>
									
							</div>	
							</div>
			</section>
			<section class="bg-light" style="display:none;" >
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>اسمع منهم</h3>
								<p>ماذا يقول الناس عنا؟</p>
							</div>
							
						</div>
					
					</div>
					
					<div class="testimonial-wrapper rtl">
					
						<div class="row">
							
							<div class="col-xs-12 col-sm-12 col-md-6 pull-right">
								<div class="testimonial-item clearfix">
									<div class="image pull-right rtl-static rtl-left-margin">
										<img src="/static/images/man/01.jpg" alt="Man" />
									</div>
									<div  >
										<h4 style="color:black">Antony Robert</h4>
										<h6 style="color:grey">From Spain</h6>
										<p style="color:grey">She meant new their sex could defer child. An lose at quit to life do dull. Moreover end horrible endeavor entrance any families. Income appear extent on of thrown in admire.</p>
									</div>
								</div>
							</div>
							
							
						</div>
						
					</div>
					
				</div>
				
			</section>
			
			<div class="newsletter-wrapper">
			
				<div class="container">
				
					<div class="flex-row flex-align-middle flex-gap-30" dir="rtl">
							
						<div class="flex-column flex-sm-12">
							<div class="newsletter-text clearfix">
								<div class="icon rtl-static pull-right rtl-left-margin">
									<i class="pe-7s-mail"></i>
								</div>
								<div class="content">
									<h3>تواصل معنا</h3>
									<p>لا تتردد بالتواصل معنا إذا كان عند سؤال أو اسفسار وسنكون دائما موجودين لمساعدتك.</p>
								</div>
							</div>
						</div>
						<div class="flex-columns flex-sm-12">
							<div class="newsletter-form">
								<form class="">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="أدخل ايميلك">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">ارسل  <i class="fa fa-long-arrow-right"></i></button>
										</span>
									</div>
								</form>
							</div>
						</div>
					
					
					</div>
					
				</div>
				
			</div>
			
			<div class="overflow-hidden">
			
				<div class="instagram-wrapper">
					<div id="instagram" class="instagram"></div>
				</div>
				
			</div>
			
</div>
{% endblock %} 