{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row" >
					

						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">
	
							<div class="section-title text-right">
								<h3>لوحة التحكم</h3>
							</div>
						<div class="col-md-12 col-xs-12 col-sm-12" > 
						<form action="{% url 'supplier_package' %}" method="POST">
						{% csrf_token %} 
						<div  style="max-width:500px;margin-right:auto;margin-left:auto" >
							<h1 dir="rtl" >اضافة باكج عمرة </h1>
							<div class="alert alert-success"  dir="rtl" > 
								أضف باكج جديد ، قم بتحديد اسم الفندق في مكة والمدينة ، وتكلفة الشخص حسب حجم الغرفة
							</div>
							<div dir="rtl" class="form-group">
							  <label for="makkah_hotel">فندق مكة</label>
							  <input type="text" class="form-control" name="makkah_hotel_title"> 
							</div>
							<div dir="rtl" class="form-group">
							  <label >فندق المدينة</label>
							  <input type="text" class="form-control" name="madinah_hotel_title"> 						
							</div>
							<div dir="rtl" class="form-group">
							  <label >سعر الغرفة المفردة / الشخص</label>
							  <input type="Number" class="form-control" name="updated_single_room_cost" > 						
							</div>
							<div dir="rtl" class="form-group">
							  <label >سعر الغرفة الثنائية / الشخص</label>
							  <input type="Number" class="form-control" name="updated_double_room_cost"> 						
							</div>
							<div dir="rtl" class="form-group">
							  <label >سعر الغرفة الثلاثية / الشخص</label>
							  <input type="Number" class="form-control" name="updated_trip_room_cost" > 						
							</div>
							<div dir="rtl" class="form-group">
							  <label >سعر الغرفة الرباعية / الشخص</label>
							  <input type="Number" class="form-control" name="updated_quad_room_cost"> 						
							</div>
							<div dir="rtl" class="form-group">
							  <label >سعر الغرفة الخماسية / الشخص</label>
							  <input type="Number" class="form-control" name="updated_quin_room_cost" > 						
							</div>
							<div dir="rtl" class="form-group">
							  <label for="include">وسيلة السفر</label>
							  <select name="transport" class="form-control" name="transport">
							  <option value="True">نقل بري</option>
							  <option value="False">طيران</option>
							  </select>
							</div>

							<div dir="rtl" class="form-group text-center">
									<input required type="submit" class="btn btn-success btn-lg"  value="إتمام" >
							</div>
						</div>
						</form>

						</div>								
						</div>
							
					</div>


				</div>
				
			</div>
					
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 