{% extends 'base.html' %} 
{% block title %}
<title>برامج العمرة</title>
{% endblock %} 
{% block main_wrapper %} 
<style>
/* styling the checkboxes */

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-right: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #43C458;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
</style>

		<div class="main-wrapper">
			
			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('/static/images/backgrounds/amman.jpg');">
				
				<div class="container">
				
					<div class="row" dir="rtl">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
						
							<h1 class="hero-title">الأردن</h1>
							
							<ol class="breadcrumb-list">
								<li><a href="/">الرئيسية</a></li>
								<li><a  href="{% url 'catalogue:packages' %}?country_code={{country.country_code}}">برامج العمرة</a></li>
								<!-- <li>ABD</li> -->
							</ol>
							
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<div class="content-wrapper" style="padding-top: 5%;">
			
				<div class="container">
			
					<div class="row" >
						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">

							<div class="sorting-wrappper rtl">
			
								<div class="sorting-header" dir="rlt" >
									<h3 class="sorting-title uppercase"> يتوفر  <span>{{packages.count}} </span> برنامج عمرة </h3>
									<p class="sorting-lead">عدد الشركات : {{agencies.count}} شركة </p>
								</div>

							</div>	
						<div class="col-md-9" style=""> 

						{% if not page.object_list %} 
						<div class="col-md-12" dir="rtl" style="padding: 10%;padding-right: 0">
						<p >ﻻ يوجد نتائج مطابقة للبحث ، حاول البحث مرة أخرى . </p>
						</div>
						{% endif %} 

						{% for package in page.object_list %}
						<div class="sidebar-search-wrapper bg-light-2" dir="rtl" >
									<div class="col-md-12" >
									<div class="col-md-6" style="padding:0;margin-bottom: 5%;" >
									{% if package.makkah_hotel.thumbnail %}
									<img src="{{package.makkah_hotel.thumbnail.url}}" style=""> 
									{% else %} 
									<img src="http://via.placeholder.com/500x250" style=""> 
									{% endif %}
									<small>صورة الفندق في مكة المكرمة</small>
									</div>
									<div class="col-md-6" > 
									<div class="sidebar-search-header">
										<h4>{{package.prices_start_from}} دينار</h4>
									</div>
									<div dir="lrt" class="form-group" >
										<h4><span>{{package.catalogue_title}}</span></h4>
										<strong>شركة {{package.catalogue_agency.title}} للسياحة والسفر</strong><br>
									</div>
									<div class="form-group" dir="rtl"> 
									  <table class="table" >
									  	<span style="color:#43C458" >التفاصيل</span>
									  <tr>
									    <td style="color:#43C458">فندق مكة</td>
									    {% if package.madinah_hotel.id %} <td style="color:#43C458">فندق المدينة</td> {% endif %} 
									  </tr>
									  <tr>
									    <td>{{package.makkah_hotel.title}}</td>
									    {% if package.madinah_hotel.id %}  <td>{{package.madinah_hotel.title}}</td> {% endif %} 
									  </tr>
									</table>
									</div>
									</div>
									</div>
									<div class="sidebar-search-content" style="text-align: center;" > 
									<a href="{% url 'catalogue:package' package_id=package.id %}" class="btn btn-primary" >اظهر الأسعار </a>
									
									</div>
									
						</div>
						{% endfor %}

						<div class="flex-column flex-sm-12 text-center" dir="rtl" style="margin:10%;">
						{% if page.has_previous %}
						<a 
						href="{% url 'catalogue:packages' %}
						?filter_search=True
						&page_no={{page.previous_page_number}}
						&country={{country}}
						&catalogue_agency={{catalogue_agency}}
						&transport={{transport}}
						&prices_range={{prices_range}}" 
						>&nbsp;<i class="fa fa-arrow-right"></i> السابق </a>
						{% endif %}
						{% for i in page_range %} 
								<a 
								href="{% url 'catalogue:packages' %}
								?filter_search=True
								&page_no={{i}}
								&country={{country}}
								&catalogue_agency={{catalogue_agency}}
								&transport={{transport}}
								&prices_range={{prices_range}}" 
								style="font-size: 200%;margin:2%;
								{% if page_no == i or not page_no %} border-bottom:2px solid #43C458; {% endif %}"
								>{{i}}</a>
						{% endfor %}
						{% if page.has_next %}
						<a 
						href="{% url 'catalogue:packages' %}
						?filter_search=True
						&page_no={{page.next_page_number}}
						&country={{country}}
						&catalogue_agency={{catalogue_agency}}
						&transport={{transport}}
						&prices_range={{prices_range}}" 
						>&nbsp;التالي<i class="fa fa-arrow-left"></i></a>
						{% endif %}
						</div>

						</div>
						<div class="col-md-3" dir="rtl" id="right-sidebar">
							
							<aside class="sidebar with-filter">
				
								<div class="sidebar-header clearfix">
									<h4 class="pull-right">تصفية النتائج</h4>
								</div>
								
								<div class="sidebar-inner">
								<form action="{% url 'catalogue:packages' %}" method="GET">
									<input type="hidden" value="True" name="filter_search"> 
									<div class="sidebar-module">
										<div class="sidebar-module-inner">
												<h6 class="sidebar-title" >المدينة</h6>
												<div class="input-group">
													<select class="form-control" name="country">
														<option value="">الكل</option>
														{% for countr in countries %}
														<option value="{{countr.id}}" 
														{% if catalogue_agency__city == countr.id %}
														selected
														{% endif %}
														>{{countr.title}}</option>
														{% endfor %}
													</select>
												</div>
												<h6 class="sidebar-title" style="margin-top:4%">الشركة</h6>
												<div class="input-group">
													<select class="form-control" name="catalogue_agency">
														<option value="">الكل</option>
														{% for agency in agencies %} 
														<option 
														{% if catalogue_agency == agency.id %}
														selected 
														{% endif %} 
														value="{{agency.id}}">{{agency.title}}</option>
														{% endfor %}
													</select>
												</div>
												<h6 class="sidebar-title" style="margin-top:4%">وسيلة السفر</h6>
												<div class="input-group">
													<select class="form-control" name="transport">
														<option  value="">بر وجو</option>
														<option {% if transport == 'BUS' %} selected {% endif %} value="BUS">براً</option>
														<option {% if transport == 'FLIGHT' %} selected {% endif %} value="FLIGHT">جوا</option>
													</select>
												</div>
										</div>
									</div>

									<div class="sidebar-module">
										<h6 class="sidebar-title">الأسعار</h6>
										<div class="sidebar-module-inner">

											<label class="container checkbox-container" style="margin-bottom: 12px">كل الأسعار
											  <input type="radio"  name="prices_range" 
											  value="0-10000"
											  {% if prices_range == '0-10000' or not prices_range %} checked {% endif %}>
											  <span class="checkmark"></span>
											</label>
											<label class="container checkbox-container" style="margin-bottom: 12px">أقل من 200
											  <input type="radio"  name="prices_range" 
											  value="0-200"
											  {% if prices_range == '0-200' %} checked {% endif %}>
											  <span class="checkmark"></span>
											</label>
											<label class="container checkbox-container"  style="margin-bottom: 12px">بين 200 و 300
											  <input type="radio" name="prices_range" 
											  value="200-300"
											  {% if prices_range == '200-300' %} checked {% endif %}>
											  <span class="checkmark"></span>
											</label>
											<label class="container checkbox-container"  style="margin-bottom: 12px">بين 300 400
											  <input type="radio" name="prices_range" 
											  value="300-400"
											  {% if prices_range == '300-400' %} checked {% endif %}>
											  <span class="checkmark"></span>
											</label>
											<label class="container checkbox-container"  style="margin-bottom: 12px">أكثر من 400
											  <input type="radio" name="prices_range" 
											  value="400-10000"
											  {% if prices_range == '400-10000' %} checked {% endif %}>
											  <span class="checkmark"></span>
											</label>

										</div>
									</div>
									
									
									
									
									
									
									<div class="clear"></div>
									
									
									<div class="clear"></div>
								
									<div class="sidebar-module">
									
										<div class="sidebar-module-inner">
											<button style="border:1px solid #43C458;border-radius: 10px;padding: 5%;" 
											type="submit"> تحديث البحث</button>
										</div>
										
									</div>
									
									<div class="clear"></div>
									
									<div class="sidebar-module">
									
										<h6 class="sidebar-title">نتائج البحث</h6>
										<div class="sidebar-module-inner">
											<p>قم بتغيير تفضيلات البحث في الأعلى ثم اضغط على تحديث البحث للحصول على نتائج تناسبك</p>
										</div>
										
									</div>
									
									<div class="clear"></div>
								</form>
								</div>
								
								<div class="sidebar-box">
									<h4 class="sidebar-title">كيفية الحجز؟</h4>
									<p>قم بتصفح العروض ثم اضغط اضغط على إظهار الأسعار لتستطيع الحجز وإنشاء حساب</p>
								</div>
							
							</aside>
							
							
						</div>
						

						</div>
							
					</div>


				</div>
				
			</div>

			</div>

		<!-- end Main Wrapper -->
{% endblock %} 