{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper" style="padding-top: 0%;">
			
				<div class="container">
					<div class="row" >
						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">
	<!-- 
							<div class="section-title text-right">
								<h3>التسجيل للعمرة</h3>
							</div> -->
						<div class="col-md-12 col-xs-12 col-sm-12"  > 
						<form action="" method="POST">

						<div  style="max-width:500px;margin-right:auto;margin-left:auto" >
						<h1 dir="rtl" >معلومات الحجز</h1>
						{% if reservation %}
							<div class="alert alert-success"  dir="rtl" > 
								<strong>تنويه</strong> سنقوم بالتواصل معك لاستلام جواز السفر والدفعة النقدية من عنوانك بأقرب وقت نرجوع التحقق من التالي : 
								<ul style="list-style-type:disc;margin-right: 5%;">
								<li>جواز سفر صالح حتى 7 أشهر من تاريخ الرحلة</li>
								<li>صور شخصية عدد 2 بخلفية بيضاء</li>
								</ul>
								<strong>تنويه</strong> سنقوم بالتواصل معك على الرقم {{reservation.phone_number}}، تستطيع تحديث الرقم في حال كنت قد أخطأت في ادخاله: 

				            <div class="input-group" style="width:70%;">
				            	<form action="{% url 'customer:change_phone_number' reservation_id=reservation.id %}" method="POST">
				            	{% csrf_token %}
				                <input type="text" class="form-control"  dir="ltr" value="{{reservation.phone_number}}" >
				                <span class="input-group-btn">
				                    <button type="submit" class="btn btn-primary" onclick="return confirm('هل تريد بالتأكيد تغيير رقم الهاتف؟')" >تحديث الرقم</button>
				                </span>
				                </fom>
				            </div>
							</div>
							<div style="text-align: center;">
							<!-- <small>الحالة</small><br> -->
							<!-- <span style="color:;">مندوبنا لم يقم باستلام جواز السفر</span> -->
							{% if reservation.is_paid %}
							<h3><span class="label label-success">مدفوع</span></h3>
							{% else %} 
							<h3><span class="label label-danger">غير مدفوع</span></h3>
							<span class="label label-danger">مندوبنا لم يقم باستلام جواز السفر</span>
							{% endif %}
							</div>

							<div class="form-group" dir="rtl" style="display:none"> 
							<!-- <p style="border-bottom: 0.3px solid #d3d3d3 ">الفندق</p> -->
							<style>
						       #map {
						        height: 400px;
						        width: 100%;
						       }
						    </style>
						    
						    <div id="map"></div>
						    <script>
						        var coordinates = "200,200";
						        var x = parseFloat(coordinates.split(',')[0]);
						        var y = parseFloat(coordinates.split(',')[1]);

						        function initMap() {
						        var uluru = {lat: x, lng: y};
						        var map = new google.maps.Map(document.getElementById('map'), {
						          zoom: 16,
						          center: uluru
						        });
						        var marker = new google.maps.Marker({
						          position: uluru,
						          map: map
						        });
						      }
						    </script>
						    <script async defer
						    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ0p2O62_ZIYzQO_NnC2UPU90H4cUUX9M&callback=initMap">
						    </script>
							</div>

							<div class="form-group" dir="rtl"> 
							  <table class="table" >
							  	<span style="color:#43C458" >تكاليف الرحلة</span>
							{% if reservation.departures_qty > 1 %} 
							  <tr>
							    <td>استلام وتوصيل جوازات السفر (دفعة واحدة)</td>
							    <td>7 دينار</td>
							  </tr>
							{% else %}
							  <tr>
							    <td>استلام وتوصيل جواز السفر</td>
							    <td>7 دينار</td>
							  </tr>
							{% endif %}
							  <tr>
							    <td>تكلفة الشخص</td>
							    <td>234 دينار</td>
							  </tr>
							  <tr>
							    <td  style="color:#43C458" >المجموع ل 1 شخص </td>
							    <td  style="color:#43C458" >234 دينار</td>
							  </tr>
							</table>
							</div>
							<div class="form-group" dir="rtl"> 
							  <table class="table" >
							  	<span style="color:#43C458" >التفاصيل</span>
							  <tr>
							    <td>موعد الإنطلاق</td>
							    <td>{{reservation.departure_date.isoformat}}</td>
							  </tr>
							  <tr>
							    <td>الشركة المشرفة</td>
							    <td>{{reservation.package.catalogue_agency.title}}</td>
							  </tr>
							  <tr>
							    <td>وسيلة السفر</td>
							    <td>{{reservation.package.transport}}</td>
							  </tr>
							  <tr>
							    <td>الغرفة</td>
							    <td>{{reservation.room_size}}</td>
							  </tr>
							  <tr>
							    <td>فندق مكة</td>
							    <td>{{reservation.package.makkah_hotel.title}}</td>
							  </tr>
							  <tr>
							    <td>فندق المدينة</td>
							    <td>{{reservation.package.madinah_hotel.title}}</td>
							  </tr>
							</table>
							</div>
							<div dir="rtl" class="form-group text-center" style="margin-top:10%;">
									<a onclick="return confirm('هل أنت تريد إلغاء الطلب?');" href="{% url 'customer:cancel_reservation' reservation_id=reservation.id %}" class="btn btn-primary btn-sm">الغاء الحجز</a>
							</div>
						{% else %} 
							<div dir="rtl" class="form-group text-center" style="margin-top:10%;">
							<p>لم تقم بالحجز حتى الآن</p>
							<a  href="{% url 'catalogue:packages' %}" class="btn btn-primary ">تصفح العروض</a>
							</div>						
						{% endif %}
						</div>
						</form>

						</div>								
						</div>
							
					</div>


				</div>
				
			</div>
					
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 