{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
<style>
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


</style>

			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row" dir="rtl">
					

						<div style="max-width:500px;margin-right:auto;margin-left:auto" role="main">
	
							<div class="section-title text-right">
								
								<h3>تسجيل حساب جديد</h3>
								
							</div>
							<div class="alert alert-success">
							<strong>تنويه</strong>&nbsp;قم بإنشاء حساب لمتابعة طلبك  
							</div>
							<div style="margin:10%;text-align: center;">
								<button class="loginBtn loginBtn--facebook" onclick="window.location='/oauth/login/facebook/'">
								  تسجيل الدخول مع فيسبوك
								</button>
							</div>

							<div class="payment-container" >
							
				
									<div class="col-md-12">
									
										
										<div class="col-md-12">
											
											
												<div class="row gap-0">
												
													
												</div>
												<div style="max-width:500px;margin-right:auto;margin-left:auto"  dir="rtl"  >
												<h5>تسجيل حساب باستخدام بالبريد الالكتروني</h5>
												<hr>
													<form action="{% url 'customer:register_customer' %}" method="POST">
														{% csrf_token %}
														<input name="group_name" type="hidden" value="retail">   
														<label  class="col-xs-12 " >البريد الالكتروني</label>
														<input   name="username" type="email"  class="form-control" required>
														<label   class="col-xs-12" >كلمة المرور</label>
													<input   name="password" id="password1" type="password"  class="form-control" required >
														<label   class="col-xs-12" >إعادة كلمة المرور</label>
														<input   id="password2" type="password" class="form-control" required >	
													{% for message in messages %} 
													<label style="color:red;">{{message}}</label>
													{% endfor %} 
													<label id="password_match" style="color:red;"></label>

													<div class="col-md-12 mt-30" style="text-align:center;">
													<input style="margin-bottom: 10px;" id="submit_button" type="submit" class="btn btn-danger" value="إتمام التسجيل">
													<a  style="margin-bottom: 10px;" class="btn btn-primary" href="{% url 'customer:login_agency' %}" >تسجيل دخول</a> 
													</div>
													</form>
												</div>	
												
												
											</div>
									
										</div>
										
									</div>
									
									<div class="row mt-20">
											
									</div>
									
								
							</div>
							
						</div>


					</div>
				
				</div>
					
			</div>

<script>
let pass1 = $('#password1')
let pass2 = $('#password2')

pass1.change(function(){
	if( pass1.val() != pass2.val() ){
		$('#password_match').text('كلمة المرور غير متطابقة'); 
		$('#submit_button').prop('disabled', true);
	}
	else {
		$('#submit_button').prop('disabled', false);
		$('#password_match').text(''); 

	}

})

pass2.change(function(){
	if( pass1.val() != pass2.val() ){
		$('#password_match').text('كلمة المرور غير متطابقة'); 
		$('#submit_button').prop('disabled', true);
	}
	else {
		$('#submit_button').prop('disabled', false);
		$('#password_match').text(''); 

	}

})

</script>
		</div>
		<!-- end Main Wrapper -->
{% endblock %} 