{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row" dir="rtl">

{% if messages %}
<div style="max-width:500px;margin-right:auto;margin-left:auto;text-align: center;" role="main" >
<h1><i class="fa fa-thumbs-o-up"></i></h1>
{% for message in messages %} 
<h3>{{message}}</h3>
{% endfor %} 

<a  style="margin-bottom: 10px;" class="btn btn-primary" href="{% url 'catalogue:package' package_id=package_id %}" >رجوع</a> 


</div>
{% else %}
						<div style="max-width:500px;margin-right:auto;margin-left:auto" role="main">
	
							<div class="section-title text-right">
								
								<h3>حجز رحلة عمرة</h3>
								
							</div>
							<div class="alert alert-success" style="margin:20px">
							قم بالحجز و سنقوم بالتواصل معك بأقرب وقت  
							</div>

							<div class="payment-container" >
							
				
									<div class="col-md-12">
									
										
										<div class="col-md-12">
											
											
<div style="max-width:500px;margin-right:auto;margin-left:auto"  dir="rtl"  >

  <table class="table" >
  	<span style="color:#43C458" >التفاصيل</span>
  <tr>
    <td>الشركة المشرفة</td>
    <td>{{package.catalogue_agency.title}}</td>
  </tr>
  <tr>
    <td>فندق مكة</td>
    <td>{{package.makkah_hotel.title}}<span class="label label-primary">{{package.makkah_hotel.stars}} نجوم</span></td>
  </tr>
  <tr>
    <td>فندق المدينة</td>
    <td>{% if package.makkah_hotel %}
    {{package.madinah_hotel.title}} <span class="label label-primary">{{package.madinah_hotel.stars}} نجوم</span> 
    {% else %}بدون{% endif %} </td>
  </tr>
  <tr>
    <td>وسيلة السفر</td>
    <td>{% if package.transport == 'BUS' %} باص {% else %} طائرة {% endif %}</td>
  </tr>
  {% if package.transport == 'FLIGHT' %} 
  <tr>
    <td>خطوط الطيران</td>
    <td>{{package.airlines}}</td>
  </tr>
  {% endif %}
</table>
	<form action="{% url 'customer:reservation' package_id=package.id %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="package" value="{{package.id}}">
		<label  class="col-xs-12 " >الإسم</label>
		<input   name="name" type="text"  class="form-control" required placeholder="اسم صاحب الحجز">

		<label   class="col-xs-12" >الهاتف</label>
		<div class="input-group" dir="ltr">
			  <span class="input-group-addon" style="min-width:100px;padding: 0">
			<select   name="pre_phone_number" class="form-control"   required style="padding: 0;text-align: center;font-size: 150%" >
				<option value="079">079</option>
				<option value="078">078</option>
				<option value="077">077</option>
			</select></span>
			<input name="phone_number" id="phone_number" type="text" class="form-control"  placeholder="رقم الهاتف" style="padding: 10px;">
		</div>
		<label id="phonenumber_match" style="color:red;"></label>

		<!-- <input  style="text-align:left;" name="phone_number" id="phone_number" type="text" class="form-control" required value="07"> -->

		<label   class="col-xs-12" >عدد الأشخاص</label>
		<select   name="departures_qty"  class="form-control" required >
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
		<label   class="col-xs-12" >موعد السفر</label>
		<select   name="departure_date"  class="form-control" required >
			<option value="{{some_date.isoformat}}">some date horray!</option>
		{% for date in dates %} 		
			<option value="{{date.isoformat}}">{{date.isoformat}} {{date.day}}</option>
		{% endfor %} 
		</select>
		<label   class="col-xs-12" >حجم الغرفة</label>
		<select   name="room_size"  class="form-control" required >
		{% if package.single_room_cost > 0 %}<option value="1">غرفة مفردة</option> {% endif %} 
		{% if package.double_room_cost > 0 %}<option value="1">غرفة غرفة ثنائية</option> {% endif %} 
		{% if package.trip_room_cost > 0 %}<option value="1">غرفة ثلاثية</option> {% endif %} 
		{% if package.quad_room_cost > 0 %}<option value="1">غرفة رباعية</option> {% endif %} 
		{% if package.quin_room_cost > 0 %}<option value="1">غرفة خماسية</option> {% endif %} 
		</select>

	{% for message in messages %} 
	<label style="color:red;">{{message}}</label>
	{% endfor %} 

	<div class="col-md-12 mt-30" style="text-align:center;">
	<input style="margin-bottom: 10px;" type="submit" class="btn btn-danger" value="إتمام" id="submit_button">
	<a  style="margin-bottom: 10px;" class="btn btn-primary" href="{% url 'catalogue:package' package_id=package.id %}" >رجوع</a> 

	</div>
	</form>
</div>
												
												
											</div>
									
										</div>
										
									</div>
									
									<div class="row mt-20">
											
									</div>
									
								
							</div>
{% endif %} 
						</div>


					</div>
				
				</div>
					
			</div>

<script>
let phone_number = $('#phone_number') 


phone_number.change(function(){
	var re = /^\d{7}$/; 
	var result = phone_number.val().match(re);
	if (result){
		$('#phonenumber_match').text(''); 
		$('#submit_button').prop('disabled', false);

	}
	else {
		$('#phonenumber_match').text('رقم الهاتف غير مقبول , يجب ان يطابق صيغة رقم خلوي أردني'); 
		$('#submit_button').prop('disabled', true);
	}


})


</script>
		</div>
		<!-- end Main Wrapper -->
{% endblock %} 