{% extends 'base.html' %} 
{% block main_wrapper %} 
		<div class="main-wrapper">
			
			<div class="breadcrumb-wrapper bg-light-2">
				
				<div class="container" dir="rtl">
				
							<ol class="breadcrumb-list" dir="rtl">
								<li><a href="/">الرئيسية</a></li>
								<li><span style="color:grey;">لوحة التحكم</span></li>
							</ol>
							
				</div>
				
			</div>
			
			<div class="content-wrapper" style="padding-top: 5%;">
			
				<div class="container">
			
					<div class="row" >
						<div class="col-md-12 col-xs-12 col-sm-12 " role="main">
							<div class="section-title text-right">
								<h3>التسجيل للعمرة</h3>
							</div>
						<div class="col-md-12 col-xs-12 col-sm-12"  > 
						<form action="{% url 'reservation' %}?next_=true" method="GET">
						<input type="hidden" name="next_" value="True" > 
						<input type="hidden" name="pending_reservation" value="True" > 
						<div  style="max-width:700px;margin-right:auto;margin-left:auto" >
					
							<h1 dir="rtl" >الخطوة  2/1 <small>إملأ بياناتك</small></h1>
							<div class="alert alert-success"  dir="rtl" > 
								قم بادخال خيارات السكن المناسبة لك ثم اضغط على "التالي" لإكمال الطلب
							</div>

							<div dir="rtl" class="form-group" >
							  <label for="include">الشركة المشرفة</label>
							  <select id="agencySelect" name="agency" class="form-control">
							  {% for agency in agencies %} 
							  <option value="{{agency.id}}">{{agency.title}}</option>
							  {% endfor %} 
							  </select>
							</div>
							<div class="form-group" dir="rtl"> 
							  <table class="table" >
							  	<span style="color:#43C458" >معلومات السكن</span>
							  <tr>
							    <td>حجم الغرفة </td>
							    <td>تكلفة الشخص</td>
							    <td>التكلفة الكلية</td>
							  </tr>
							  <tr>
							    <td>خماسي</td>
							    <td>2</td>
							    <td>30</td>
							  </tr>
							</table>
							  <table class="table" style="display: none;" >
							  	<span style="color:#43C458;display: none;" >تكاليف الرحلة</span>
							  <tr>
							    <td>تكلفة السكن / للشخص  </td>
							    <td>50</td>
							  </tr>
							  <tr>
							    <td>تكلفة النقل / للشخص </td>
							    <td>30</td>
							  </tr>
							  <tr>
							    <td>التأشيرة / للشخص </td>
							    <td>30</td>
							  </tr>
							  <tr>
							    <td>استلام الجوازات من البيت</td>
							    <td>7</td>
							  </tr>
							</table>
							</div>	
							<div dir="rtl" class="form-group">
							  <label for="makkah_hotel">فندق مكة</label>
							  <select id="makkah_hotel_select" name="makkah_hotel" class="form-control">
							  {% for hotel in makkah_hotels %} 
  							  <option value="{{hotel.id}}">{{hotel.title}}</option>
							  {% endfor %} 
							  </select>
							</div>
							<div dir="rtl" class="form-group">
							  <label for="makkah_hotel">حجم الغرفة</label>
							  <select name="room_size" class="form-control">
							  <option value="True">ثنائي</option>
							  <option value="False">ثﻻثي</option>
							  </select>
							</div>
							<div dir="rtl" class="form-group">
							  <label for="makkah_hotel">عدد الأشخاص</label>
							  <select name="guests_qty" class="form-control">
							  <option value="True">1</option>
							  <option value="False">2</option>
							  </select>
							</div>
							<div class="form-group" dir="rtl" style="display: none"> 
							  <table class="table" >
							  <span style="color:#43C458" >تكلفة السكن حسب حجم الغرفة في مكة والمدينة</span>
							  <tr>
							    <td>ثنائي</td>
							    <td>50</td>
							  </tr>
							  <tr>
							    <td>ثلاثي</td>
							    <td>30</td>
							  </tr>
							  <tr>
							    <td>رباعي</td>
							    <td>30</td>
							  </tr>
							  <tr>
							    <td>خماسي</td>
							    <td>7</td>
							  </tr>
							</table>
							</div>
							<div dir="rtl" class="form-group">
							  <small for="pwd" style="color:#43C458" >تكلفة السكن في فندق أجياد السكن وفندق في المدينة المنورة: 432432 دينار </small>
							</div>
							<div class="form-group" >
							<div class="slick-gallery-slideshow">
		
								<div class="slider gallery-slideshow" id="slideshow">
								{% for photo in photos %} 
									<div><div class="image"><img src="{{photo.file.url}}"  /></div></div>
								{% endfor %} 
								</div>
								<div class="slider gallery-nav" id="navslider" >
								{% for photo in photos %} 
									<div><div class="image"><img src="{{photo.file.url}}"  /></div></div>
								{% endfor %} 
								</div>
							</div>
							</div>
							<div dir="rtl" class="form-group">
							  <label for="pwd">فندق المدينة</label>
							  <select name="madinah_hotel" class="form-control">
							  <option value="True">المنطقة المركزية</option>
							  </select>							
							</div>
<!-- 
							<div dir="rtl" class="form-group">
							  <label for="include">وسيلة السفر</label>
							  <select name="transport" class="form-control">
							  <option value="True">نقل بري</option>
							  <option value="False">طيران</option>
							  </select>
							</div>
							 --><!-- 
							<div dir="rtl" class="form-group">
							  <label for="makkah_hotel">عدد الغرف</label>
							  <select name="rooms_qty" class="form-control">
							  <option value="True">1</option>
							  <option value="False">2</option>
							  </select>
							</div> -->
							<div dir="rtl" class="form-group">
							  <label for="include">وسيلة السفر</label>
							  <select name="transport" class="form-control">
							  <option value="True">نقل بري</option>
							  <option value="False">طيران</option>
							  </select>
							</div>
							
							<div class="alert alert-success"  dir="rtl" > 
								اختر الشركة التي ستقوم بالاشراف على النقل والعمرة بشكل عام
							</div>
							<div dir="rtl" class="form-group">
							  <label for="include">موعد الإنطلاق</label>
							  <select name="departure_date" class="form-control">
							  <option value="True">الأربعاء القادم</option>
							  <option value="False">الأربعاء 24/2</option>
							  </select>
							</div>
							<div dir="rtl" class="form-group">
							  <label for="include">العنوان بالتفصيل</label>
							  <input name="customer_address" class="form-control"></input>
							</div>
						

							<div dir="rtl" class="form-group text-center" style="margin-top:10%;">
									<!-- <a  href="{% url 'reservation' %}" class="btn btn-success btn-lg" >رجوع</a> -->
									<input type="submit" class="btn btn-danger btn-lg" value="التالي" >
									<!-- <input required type="submit" class="btn btn-danger btn-lg"  value="التالي" > -->
							</div>

						</div>
						</form>

						</div>								
						</div>
							
					</div>


				</div>
				
			</div>
<!-- <script type="text/javascript" src="/static/js/slick.min.js"></script> -->

<script>

var hotel_select = $('#makkah_hotel_select')

hotel_select.on('change',function(){
        $.ajax({

        url: "/get_hotel_photos/" + hotel_select.val()  ,
             success: function(result){
            	var slideshow = $('#slideshow')
            	$('#slideshow').html('')
            	var nav_slider = $('#navslider')
            	$('#navslider').html('')
            	// alert($('#navslider').html())

            	$('#slideshow').attr('class' , 'slider gallery-slideshow')
            	$('#navslider').attr('class' , 'slider gallery-nav')
            	
				var images_html = ""
                $(result).find('PHOTO_URL').each(function(){
                	console.log('one');
                	var div0  = $('<div>')
                	var div = $('<div>')
                	var inner_div = $('<div>' , {'class' : 'image'} ) 
                	var image = $('<img>' , {'src' : $(this).text()})
                	var element = $(div0).append($(div).append($(inner_div).append((image))))
                	images_html = images_html + $(element).clone().html()
                })
	        	$('#navslider').html('')
	        
				$('.gallery-slideshow').slick('unslick');				
				$('.gallery-nav').slick('unslick')
				
	        	$('#navslider').html(images_html)
	        	$('#slideshow').html(images_html)


				$('.gallery-slideshow').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					speed: 500,
					arrows: true,
					fade: true,
					asNavFor: '.gallery-nav'
				});
				$('.gallery-nav').slick({
					slidesToShow: 7,
					slidesToScroll: 4,
					speed: 500,
					asNavFor: '.gallery-slideshow',
					dots: false,
					centerMode: true,
					focusOnSelect: true,
					infinite: true,
					responsive: [
						{
						breakpoint: 1199,
						settings: {
							slidesToShow: 7,
							}
						}, 
						{
						breakpoint: 991,
						settings: {
							slidesToShow: 5,
							}
						}, 
						{
						breakpoint: 767,
						settings: {
							slidesToShow: 5,
							}
						}, 
						{
						breakpoint: 480,
						settings: {
							slidesToShow: 3,
							}
						}
					]
				});
         }
    }); 
    });


var agencySelect = $('#agencySelect')
</script>
			</div>

		<!-- end Main Wrapper -->
{% endblock %} 