{% extends 'base.html' %} 
{% block main_wrapper %} 
    <div class="main-wrapper">
      
      <div class="breadcrumb-wrapper bg-light-2">
        
        <div class="container" dir="rtl">
              
              <ol class="breadcrumb-list" dir="rtl">
                <li><a href="/">الرئيسية</a></li>
                <li><span style="color:grey;">لوحة التحكم</span></li>
              </ol>
              
        </div>
        
      </div>
      
      <div class="content-wrapper">
      
        <div class="container">
      
          <div class="row" >
          

            <div class="col-md-12 col-xs-12 col-sm-12 " dir="rtl" role="main" style="margin-bottom:10%;">
  
                           
              <h1>لوحة تحكم عمرة جو</h1>
              <div class="col-md-9 mt-5"> 
              <p class="lead">اخر التحديثات على الوكالات</p>
              <div class="col-md-12" style="overflow-x:scroll;text-align:center;"> 
              <table class="table" >
                        <tr>
                          <td>النقل</td>
                          <td>فندق مكة</td>
                          <td>فندق المدينة</td>
                          <td>مفرد</td>
                          <td>ثنائي</td>
                          <td>ثﻻثي</td>
                          <td>رباعي</td>
                          <td>خماسي</td>
                          <td></td>
                          <td></td>
                        </tr>
                    {% for p in packages %} 
                        <tr>
                        {% csrf_token %} 
                          <td>{{p.transport}}</td>
                          <td>{{p.makkah_hotel_title}}</td>
                          <td>{{p.madinah_hotel_title}}</td>
                          <td>{{p.updated_single_room_cost}}</td>
                          <td>{{p.updated_double_room_cost}}</td>
                          <td>{{p.updated_trip_room_cost}}</td>
                          <td>{{p.updated_quad_room_cost}}</td>
                          <td>{{p.updated_quin_room_cost}}</td>
                          {% if p.is_updated %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:update_package' package_id=p.id %}" >تحديث</a></td>
                          {% elif p.is_created %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:add_package' package_id=p.id %}" >اضافة</a></td>
                          {% elif p.is_removed %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:remove_package' package_id=p.id %}" >حذف</a></td>
                          {% endif %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:reject_action' package_id=p.id %}" >رفض</a></td>
                        </tr>
                    {% endfor %} 

              </table>
              </div>
              </div>
              <div class="col-md-3 mt-5">
              <p class="lead">القائمة التالي هي للوكالات المعروضة على الكتالوج</p>
              <ul class="list-group">
              {% for agency in agencies %}
              <a href="{% url 'agency' agency_id=agency.id %}" class="list-group-item">{{agency.title}}</a>
              {% endfor %}
              </ul>
              </div>   
            </div>
              
          </div>


        </div>
        
      </div>
          
      </div>

    <!-- end Main Wrapper -->
{% endblock %} 