{% extends 'base.html' %} 
{% block main_wrapper %} 
    <div class="main-wrapper">
      
      <div class="breadcrumb-wrapper bg-light-2">
        
        <div class="container" dir="rtl">
              
              <ol class="breadcrumb-list" dir="rtl">
                <li><a href="/">الرئيسية</a></li>
                <li><span style="color:grey;">لوحة التحكم</span></li>
              </ol>
              
        </div>
        
      </div>
      
      <div class="content-wrapper">
      
        <div class="container">
      
          <div class="row" >
          

            <div class="col-md-12 col-xs-12 col-sm-12 " dir="rtl" role="main" style="margin-bottom:10%;">
  
                           
              <h1>لوحة تحكم عمرة جو</h1>
              <div class="col-md-9 mt-5"> 
              <p class="lead">اخر التحديثات على الوكالات</p>
              <div class="col-md-12" style="overflow-x:scroll;text-align:center;"> 
              {% for message in messages %} 
                {{message}}
              {% endfor %}
              <table class="table" >
                        <tr>
                          <td>الشركة</td>
                          <td>النقل</td>
                          <td>فندق مكة</td>
                          <td>فندق المدينة</td>
                          <td>مفرد</td>
                          <td>ثنائي</td>
                          <td>ثﻻثي</td>
                          <td>رباعي</td>
                          <td>خماسي</td>
                          <td></td>
                          <td></td>
                        </tr>
                    {% for p in packages %} 
                        <tr>
                        {% csrf_token %} 
                          <td>{{p.created_by}}</td>
                          <td>{{p.transport}}</td>
                          <td>{{p.makkah_hotel_title}}</td>
                          <td>{{p.madinah_hotel_title}}</td>
                          <td>{{p.updated_single_room_cost}}</td>
                          <td>{{p.updated_double_room_cost}}</td>
                          <td>{{p.updated_trip_room_cost}}</td>
                          <td>{{p.updated_quad_room_cost}}</td>
                          <td>{{p.updated_quin_room_cost}}</td>
                          {% if p.is_updated %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:approve_update_package' package_id=p.id %}" >تحديث</a></td>
                          {% elif p.is_created %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:approve_add_package' package_id=p.id %}" >اضافة</a></td>
                          {% elif p.is_removed %} 
                          <td><a class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:approve_remove_package' package_id=p.id %}" >حذف</a></td>
                          {% endif %} 
                          <td><a style="border:0;" class="btn btn-primary  btn-inverse" click="return confirm('هل تريد حذف العرض؟')"  
                          href="{% url 'dashboard:reject_action' package_id=p.id %}" >رفض</a></td>
                        </tr>
                    {% endfor %} 

              </table>
              </div>  
              <div class="col-md-12" >
                <br>
                <p class="lead">الشركات المسجلة</p>
                <table class="table">
                {% for agency in suppliers_agencies %} 
                <tr>
                <td>{{agency.title}}</td>
                <td>{{agency.created_by.username}}</td>
                <td>{{agency.agency_set.all}}</td>
                </tr>
                {% endfor %} 
                </table>
              </div>
               
              <div class="col-md-12 mt-5" >
                  <p>قائمة الفنادق</p>
                  <div class="col-md-6">
                  {% for hotel in makkah_hotels %} 
                  <a href="{% url 'dashboard:hotel_photos' hotel_id=hotel.id %}?hotel_type=makkah_hotel">{{hotel.title}}</a><br>
                  {% endfor %}
                  </div>
                  <div class="col-md-6">
                  {% for hotel in madinah_hotels %} 
                  <a href="{% url 'dashboard:hotel_photos' hotel_id=hotel.id %}?hotel_type=madinah_hotel">{{hotel.title}}</a><br>
                  {% endfor %}
                  </div>
              </div>  
                  <a class="btn btn-primary" href="{% url 'dashboard:prices_table' %}">أسعار السوق</a>

              </div>
              <div class="col-md-3 mt-5">
              <p class="lead">القائمة التالي هي للوكالات المعروضة على الكتالوج</p>
              <a href="{% url 'dashboard:add_agency' %}" >اضافة وكالة</a>
              <ul class="list-group">
              {% for agency in agencies %}
              <a href="{% url 'supplier:agency' agency_id=agency.id %}" class="list-group-item">{{agency.title}}</a>
              {% endfor %}
              </ul>
              </div> 


            </div>
              
          </div>


        </div>
        
      </div>
          
      </div>

    <!-- end Main Wrapper -->
{% endblock %} 