{% extends 'dashboard/base.html' %}
{% block main %} 
<div class="container ">

  <div class="row">
  <div class="col-md-12" dir="rtl"> 
    <h1>لوحة تحكم عمرة جو</h1>
    <p class="lead">القائمة التالي هي للوكالات المعروضة على الكتالوج</p>
    <div class="col-md-12">
    <a href="{% url 'add_agency' %}" class="btn btn-primary">أضافة وكالة</a>
    </div>
    <div class="col-md-12 mt-5"> 
    <ul class="list-group">
    {% for agency in agencies %}
    <a href="{% url 'supplier' supplier_id=agency.id %}" class="list-group-item">{{agency.title}}</a>
    {% endfor %}
    </ul>
    </div>
  </div>
  </div>

</div><!-- /.container -->
{% endblock %} 
